[2017-11-08 21:07] ShockwaveNN commented on #197
@ITMaya You're welcome.
And I remember something - we never did a 5.0.x release before `5.0.3-41`
So you was updating `4.x` to `5.0` and this is a general practice to keep maintainer configuration files while performing major update.
So I thinkg there is no issue in upgrade process, so I'm closing it

[2017-11-08 21:07] #197 closed

[2017-11-09 13:59] massimolamanna opened #198 "Bug: Browse windows to select file to open unusable"
Hi,
this is a regression. The window I open to browse my disc and select a file to open, all the characted (file names, directories) are replaced by a bogus char  and they are unreadable.

I attach a view of the windows.

The current version is 4.4.1.338 on Ubuntu

My machine uses:
Distributor ID:	Ubuntu
Description:	Ubuntu 17.10
Release:	17.10
Codename:	artful

but I had some problems also on 17.

[2017-11-09 18:15] onny commented on #196
Okay thank you, I'll give it a try 👍

[2017-11-09 18:15] #196 closed

[2017-11-10 12:41] agolybev commented on #198
Hi @massimolamanna, According to your screenshot you use DesktopEditors. It's another product than DocumentServer. Please, report this issue to [another](https://github.com/ONLYOFFICE/DesktopEditors) repository.

[2017-11-10 12:41] #198 closed

[2017-11-10 13:19] ShockwaveNN commented on #198
And this is possible duplicate of https://github.com/ONLYOFFICE/DesktopEditors/issues/52

[2017-11-13 14:12] ShockwaveNN commented on #174
Using S3 is not documented.
And also this those never tested and used in any real configuration after development.
Sorry

[2017-11-13 14:12] #174 closed

[2017-11-13 14:57] ShockwaveNN commented on #189
Thank you, this is a known problem.
Currently we have no ETA for fixing it.

[2017-11-14 09:37] 102010cncger opened #200 "window.Asc.asc_docs_api is not a constructor"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**

[2017-11-14 17:04:11.535] [ERROR] nodeJS - error spawnAsync(id=TR_TRAIN_88629)
Error: Process exited with non-zero code: 86
    at ChildProcess.child.on (C:\server\DocumentServer\server\FileConverter\node_modules\_@expo_spawn-async@1.3.0@@expo\spawn-async\build\spawnAsync.js:39:21)
    at emitTwo (eve

[2017-11-14 10:17] ShockwaveNN commented on #200
@102010cncger can you be more specific in version, than "current".

[2017-11-14 11:53] agolybev commented on #200
@ShockwaveNN  I think, he download it by https://github.com/ONLYOFFICE/DocumentServer/releases/download/ONLYOFFICE-DocumentServer-5.0.3/onlyoffice-documentserver.exe

[2017-11-14 13:39] ShockwaveNN commented on #173
Bug in our private bugzilla - http://bugzilla.onlyoffice.com/show_bug.cgi?id=36339

[2017-11-14 14:08] ShockwaveNN commented on #172
Bug in our private bugzilla http://bugzilla.onlyoffice.com/show_bug.cgi?id=36342

[2017-11-15 01:30] 102010cncger commented on #200
i build flow this https://wiki.ling2.cn/index.php/Onlyoffice%E4%BA%8C%E6%AC%A1%E5%BC%80%E5%8F%91

[2017-11-15 08:31] ShockwaveNN commented on #200
@102010cncger This is not official instruction how to build our server, you should contact its author.
Currently we have no official instruction for Windows, but we planning to release it soon.

[2017-11-15 08:31] #200 closed

[2017-11-15 11:42] md2k opened #202 "Installation with custom Nginx installation (Deb package)"
Hi Devs, i think this is minor but a bug, because deployment of document server not possible if system use custom Nginx package from Nginx Official Repo and not from Deb/Ubuntu repositories.

Document server package have strict requirements for nginx-extras, while official package from a Nginx.org have everything what is required for Nginx functionality, also it is possible that some companies man

[2017-11-15 13:59] agolybev commented on #200
@102010cncger, try installing Onlyoffice Document Server by following [this](http://helpcenter.onlyoffice.com/server/windows/document/install-office-apps.aspx) instruction.

[2017-11-15 14:33] tthdvd opened #203 "Shared editing doesn't work"
**Do you want to request a *feature* or report a *bug*?**
*bug*
**What is the current behavior?**
When we open a file toghether, just some people see eachother (not everyone), we didn't find deterministic behavior .
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
More then one people open the file.
**What is the expected be

[2017-11-15 14:52] ShockwaveNN commented on #203
Does all people have `fast` coedit mode?

[2017-11-15 15:38] agolybev commented on #202
Hi @md2k, we use nginx-extras because it contains some specific features. I'll think about using `nginx ` package instead of `nginx-extras`.

[2017-11-15 15:48] tthdvd commented on #203
Yes, they're in fast coedit mode.
but it's very strange, becouse two people see eachother and 2 different people see eachother.

[2017-11-15 15:50] ShockwaveNN commented on #203
Wich product calls for those users? Does this `nextcloud\owncloud` integration, `document-server-integration` or `onlyoffice-communityserver`?

[2017-11-15 15:53] tthdvd commented on #203
This is a nextcloud integration

[2017-11-15 15:54] ShockwaveNN commented on #203
Ok, duplicate this bug in https://github.com/ONLYOFFICE/onlyoffice-owncloud please

[2017-11-15 15:54] #203 closed

[2017-11-15 16:03] busted-it-guy commented on #194
Any chance this fix will also be included in 5.1 like the +1 Workday bug here:?
https://github.com/ONLYOFFICE/DocumentServer/issues/184

[2017-11-16 06:58] ShockwaveNN commented on #194
@busted-it-guy Yeah, it will! It's already fixed on `develop` - https://github.com/ONLYOFFICE/sdkjs/commit/c9f23742353eabaff68ec833a268422648177e04

[2017-11-16 11:48] agolybev commented on #202
@md2k, Document Server  uses [Secure Link](http://nginx.org/en/docs/http/ngx_http_secure_link_module.html)  nginx module. It's optional in nginx and exists in `nginx-extra` module only.

[2017-11-16 12:54] md2k commented on #202
@agolybev you right, this module need to be compiled manually with nginx. But if this will be mentioned in Documentation in requirements, people who won't deal with custom nginx can simply install nginx-extras, otherwise it always possible to compile nginx with this module without much problems. maybe preinstall script which is check capabilities of nginx and throw warning if required functionalit

[2017-11-16 14:29] ydelattre opened #204 "Problem with OpenSymbol font"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when you select OpenSymbol font, most of the characters are displayed as white rectangle

![opensymbol](https://user-images.githubusercontent.com/11867613/32896213-bac88bbe-cae2-11e7-940b-4f9d6ba69b95.jpg)

**Did this work in previous versions of DocumentServer?**
No

**DocumentServer version:**
5.0.4

[2017-11-16 16:39] Floflobel commented on #20
+1

[2017-11-17 08:32] ydelattre opened #205 "[Office 2013] Problem with picture in footnote"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
when you insert a picture in a footnote, the document downloaded can't be opened in Office 2013.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1) create a document
2) insert a footnote and add a picture in it
3) download the

[2017-11-17 08:49] SanguisFerrum commented on #20
+1

[2017-11-17 10:10] flaminestone commented on #205
Thank you for report. Yes, it is bug. We fix it in future.
Bug in our private bugzilla - http://bugzilla.onlyoffice.com/show_bug.cgi?id=36380

[2017-11-17 11:18] ShockwaveNN opened #206 "Centos - SELinux errors while installing on server with disabled SELinux"
Steps:
1. Disable Selinux on server
2. Install `onlyoffice-documentserver` according to [instruction](http://helpcenter.onlyoffice.com/server/linux/document/linux-installation-centos.aspx)

Result:
On `sudo yum install onlyoffice-documentserver` step there will be a lot of warnings like this:
[code]

Also similar errors in `bash documentserver-configure.sh` step, but after that everything seems wo

[2017-11-17 11:52] KirillovIlya commented on #20
It will be added in the next stable version.

[2017-11-17 13:09] ydelattre commented on #205
Great, thanks for your quick answer !
Yoann

[2017-11-17 15:26] jones1008 commented on #152
+1 for @pi-xel
I would also like to have an OnlyOffice version compiled for Odroid XU4 working with the OnlyOffice nextcloud connector.

[2017-11-19 19:59] sachaz commented on #79
Some news on this ?

[2017-11-23 11:57] ShockwaveNN opened #209 "Spellcheker not working on node 8"
**What is the current behavior?**
1. Install nodejs 8 (current LTS)
2. Install latest stable `onlyoffice-documentserver`
3. `cat /var/log/onlyoffice/documentserver/spellchecker/err.log`
[code]

**DocumentServer version:** 5.0.4.15

**Operating System:** debian 9.2

[2017-11-23 13:19] trofim24 commented on #209
Spell Checker needs to compile under node 8

[2017-11-24 08:49] ExaconAT opened #210 "Collaborative Editing - Chat User problem - Nextcloud APP"
**BUG**

**OO Nextloud installed via APT Guide**

- Opening the same document on different Systems Windows 7, 8, 10, Ubuntu / Browsers will result in different amounts of active Users in Chat Plugin OO and reload the page and reopen the document

Please see screenshot.
https://pasteboard.co/GV6rK5T.jpg

**Login as different users and refresh the Document page, or reopen it.**

**Chat Plugin should

[2017-11-26 20:46] onny commented on #210
You should report this issue here: https://github.com/ONLYOFFICE/onlyoffice-owncloud
It's also the repository for the Nextcloud app!

[2017-11-27 07:14] ExaconAT commented on #210
True thx

[2017-11-27 07:14] #210 closed

[2017-11-27 07:44] LinneyS commented on #210
https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/125

[2017-11-27 14:07] #209 closed

[2017-11-27 14:55] onny opened #212 "Latest version 5.0.4 fails to compile, linking error"
Hey,
I tried to update my working PKGBUILD from version 5.0.3 to the latest version 5.0.4, see https://git.project-insanity.org/snippets/26.
It seems to fail with making core, here's a verbose make output: http://onny.project-insanity.org/files/make_output (~26M).
A lot of errors like ``undefined reference to PPTX:Logic:Blip:toPPTY(NSBinPptxRW:CBinaryFileWriter) const'`` occour in the file ...
[co

[2017-11-28 07:25] ShockwaveNN commented on #212
Hm, this is strange.
There is only 2 commits between 5.0.3 and 5.0.4
https://github.com/ONLYOFFICE/core/pull/50
https://github.com/ONLYOFFICE/core/pull/51
And neither of one seems to do anything to PPTX
Can you make sure again that 5.0.3 `core` builds fine and 5.0.4 `core` is failing?

[2017-11-28 17:11] jrangel02 opened #213 "Help in my application not is necessary of button upload images. how I doing?"
**Do you want to request a *feature* or report a *bug*?**
Hidden button upload images
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Did this work in previous versions of DocumentServer?**

**DocumentServer version:**
5.0
**Operating System:**

**Bro

[2017-11-29 08:11] bugnetz opened #214 "Cannot create forms any more after upgrading from 4.4.1 to 5.0.4"
Hi Devs!

After upgrading from 4.4.1 to 5.0.4 I can not create any forms any more as described in your manual here: https://helpcenter.onlyoffice.com/ONLYOFFICE-Editors/ONLYOFFICE-Document-Editor/UsageInstructions/InsertRichTextContentControls.aspx

I even tested this with an embedded demo version on your official Website and had the same issue.

Is this an intended behaviour or can I expect to se

[2017-11-29 09:18] KirillovIlya commented on #214
We are very sorry, this was added to version 4.4 by mistake. Hot keys Shift + F * were added only for testing purposes and should not work in the release version. We will add a normal UI for this functionality. The page describing the addition of the form will also be redone.

Thank you for your issue.

[2017-11-29 09:18] #214 closed

[2017-11-29 09:24] ibnpetr commented on #213
It's not a bug.
This type of customization isn't included into the opensource version.
Please contact ONLYOFFICE  team at support@onlyoffice.com to discuss all possible ways how you can customize the interface.

[2017-11-29 09:24] #213 closed

[2017-11-29 09:37] bugnetz commented on #214
Thank you for your fast respond. We are looking forward to this feature to be integrated.

[2017-11-29 10:07] ShockwaveNN commented on #212
@onny Hi again, I just update my [Dockerfile](https://github.com/onlyoffice-testing-robot/documentserver-from-source-build/blob/feature/docker-archlinux/Dockerfile-archlinux) with some of your patches and checked again - there is no such errors like yours in build of `core`

[2017-11-29 10:33] ydelattre commented on #205
I confirm, this issue is fixed with the document server version 5.0.5.26.
Thanks !
Yoann.

[2017-11-29 10:33] #205 closed

[2017-12-01 15:30] HellRoad opened #215 "Message "No image uploaded" when i try insert image PNG format"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
No image uploaded

Steps:
  1.Open Document Server Welcome page
  2.Create Document
  3.Try to insert image (only PNG Format)

**What is the expected behavior?**
Insert image

**Did this work in previous versions of DocumentServer?**
Yes

**DocumentServer version:**
5.0.5 25 Windows Version

**Operatin

[2017-12-05 07:09] jianbosu commented on #7
my doc 's Chinese fonts is ok,but the interface have some trouble.....
![tim 20171205150642](https://user-images.githubusercontent.com/17507066/33594269-3ba2fd92-d9ce-11e7-80fb-d20f077013b0.png)

[2017-12-05 10:11] agolybev commented on #7
Hi @jianbosu, could you provide us this document?

[2017-12-05 10:32] Floflobel opened #216 "Update restore default configuration"
When I update onlyoffice-documentserver with repo package the config are restored to default.

I have set up a specific:
/etc/nginx/conf.d/onlyoffice-documentserver.conf
/etc/onlyoffice/documentserver/default.json

I configured these two files with specific settings but when upgrading from 5.0.4-15 to 5.0.5-26 the configurations were reset by default.
This is a problem because my nginx configurati

[2017-12-05 11:14] ShockwaveNN commented on #216
Yeah, we agree, this is not correct behaviour

[2017-12-05 13:11] agolybev commented on #216
Hi We're going to fix it in v5.1

[2017-12-05 14:10] DaBozzz opened #217 "*feature* convert "-->" to arrow"
**Do you want to request a *feature* or report a *bug*?**
feature request

**What is the current behavior?**
"-->" shows up as it is

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
like in Word or Google Docs, an automatic conversion of the string to "→" would be nice

**Did this work in

[2017-12-05 14:11] DaBozzz opened #218 "*feature* send chat messages only with Enter"
**Do you want to request a *feature* or report a *bug*?**
feature request

**What is the current behavior?**
chat messages have to be sent via button or pressing Ctrl+Enter

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**
sending chat messages only with Enter would be much easier (Google

[2017-12-06 17:18] mattronix opened #220 "Issue on first load of new document from nextcloud"
**Do you want to request a *feature* or report a *bug*?**

Bug

**What is the current behavior?**

When creating a new document only office document server loads fine and document can be edited
When closing the document and reopening it again it gets stuck at loading until you refresh the page and then normal behaviour occurs and document can be worked on fine.

**If the current behavior is a bug,

[2017-12-07 08:16] agolybev commented on #220
Hi @mattronix, cloud you provide `docker-compose.yml` file for test it?

[2017-12-07 08:50] mattronix commented on #220
Sure :)

Here you go

------------------------------
version: '3'
services:
  app:
    image: uptic/onlyoffice/documentserver
    deploy:
      labels:
        - "traefik.frontend.rule=Host:example.tld.com"
        - "traefik.docker.network=publicnet"
        - "traefik.enable=true"
        - "traefik.port=80"
        - "traefik.protocol=http"
    networks:
      publicnet:
    stdin_open: true

[2017-12-07 09:00] agolybev commented on #220
@mattronix, First, I'm going to reproduce the issue localy. If I couldn't repeate it on my compute I'd need real environment.

[2017-12-07 10:42] vtamara opened #221 "Support OpenBSD"
**Do you want to request a *feature* or report a *bug*?**
Feature.  For sure  #79  has a lot in common with this one.

**What is the current behavior?**
Hard to compile on OpenBSD/adJ.
I tried some time ago and could advance, but not to the point of having working binaries. Some files required simple changes like:

* `#if defined(__linux__)` with `#if defined(__unix__)`
* `__int64` with `int64_t`

[2017-12-07 15:51] mattronix commented on #220
Perfect thank you,

Ive noticed something and i am wondering if its related.

After doing some debugging and checking headers i discovered an X-Forwarded-Host bug on a docker swarm it seems that the X-Forwarded-Host is set to the IP on the ingress network regardless of what i configure in traefik and i was wondering could this be causing the odd issue we are having?

Here is the headers i record:

[2017-12-08 12:02] agolybev commented on #220
Hi @mattronix, I saw your docker-compose file, right now.
I was expecting to see all services threre (traefik, documentserver, nextcloud).  So I can't reproducing the issue localy.
If traefik didn't setup http headers each times correctly, it'd be the cause of the problem. However I haven't  faced with such issue in swarm yet.

[2017-12-08 13:28] mattronix commented on #220
Currently we run the document server with self signed certs to get past the header issue :)

The docker compose file for nextcloud is from upstream and i will send the traefik config today.

Sent from my iPhone

[2017-12-08 13:30] mattronix commented on #220
# uptic B.V. LB Stack
# version 0.6
# Author Matthew Frost (matthew@uptic.nl)
##############################################
version: '3.4'

services:
  app:
    image: traefik:v1.5-alpine
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - /data/traefik/traefik.toml:/traefik.toml
      - /data/traefik/acme.json:/acme.json
    ports:
      - target: 80
        published: 80

[2017-12-08 16:11] KirillovIlya commented on #173
Fixed https://github.com/ONLYOFFICE/sdkjs/commit/289b58a8eda18325fda740724644706f26b143b5

[2017-12-08 16:11] #173 closed

[2017-12-09 10:15] BurizaDo opened #222 "DocumentServer:Editor/messy toolbar display with 'zh-CN' for lang"
editorConfig: {
     lang: "zh-CN",
    ....
}
as I set the lang with zh-CN, most behaviors are correct, except the toolbar on the top-right area.
as attached:

![screen shot 2017-12-09 at 6 12 25 pm](https://user-images.githubusercontent.com/2141706/33794731-957c53a4-dd0c-11e7-96d7-ccbb84e8429c.png)

Does anyone have the idea about how to fix this? Or is it because zh-CN has not been fully suppor

[2017-12-10 22:51] waldek1984 commented on #20
+1

[2017-12-11 08:35] agolybev commented on #222
Hi @BurizaDo, could you provide any document example where problem happened?

[2017-12-11 10:03] agolybev commented on #222
It works for me: ![guanlibanfa2](https://user-images.githubusercontent.com/8861642/33825416-9b050886-de72-11e7-8976-6a479f187643.png)
It seems there aren't fonts referred in styles. Could you check is there `Arial` installed on the server and is there 'Arial' font listed in the font checkbox.

[2017-12-11 10:13] BurizaDo commented on #222
I wanna Chinese be supported on the toolbar and all the UI of the editor,  not just the content of the document.

Please start the editor with 'zh-CN' for 'lang' parameter like
editorConfig: {
lang: "zh-CN",
....
}
and you will see the 'Heading ....' buttons been displayed  in unrecognized format.

[2017-12-11 10:21] BurizaDo commented on #222
![Uploading Screen Shot 2017-12-11 at 6.18.15 PM.png…]()
@agolybev it's in English, I guess you started the editor with 'en' for lang :)

[2017-12-11 10:22] BurizaDo commented on #222
![screen shot 2017-12-11 at 6 18 15 pm](https://user-images.githubusercontent.com/2141706/33826510-3297f4d8-dea0-11e7-8873-faa799d5b570.png)

@agolybev it's in English, I guess you started the editor with 'en' for lang :)

[2017-12-11 12:03] agolybev commented on #222
OK, I understand. I think you use unofficial Chinese localization. Unfortunaly Document Server doesn't support Chinese UI.
The problem occur because translated default style names contain symbols that don't exist in font of style. We are going to replace such symbols form another font, but it will be done later.

[2017-12-11 13:32] agolybev commented on #68
Windows version is available since v5.0.3

[2017-12-11 13:32] #68 closed

[2017-12-12 08:37] ydelattre opened #223 "[Spreadsheet] incorrect auto-completion of formulas"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
In spreadsheet, selecting cells from an other sheet to complete a formula lead to an error

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

![bug_formula](https://user-images.githubusercontent.com/11867613/33874483-3e049982-df1

[2017-12-12 10:49] ydelattre commented on #204
Hello !

This issue remain.
Am i the only one ?
Could be a local thing ? (UTF-8, ISO-8859-1...)
It's weird because some characters are show correctly.

Thanks for your help,
Yoann

[2017-12-12 11:34] ShockwaveNN commented on #204
"Symbol Table" plugin use font info from Document Editor (list of font and list of unicode ranges, supported by each font).
There are several possible problems:
Font info may store data about support of some Unicode range, but it's not required, that ALL symbols from that range are included in Font.
Plugin got all supported Unicode ranges and trying show them in plugin windows. Font symbol table i

[2017-12-12 11:43] ShockwaveNN commented on #223
Yeah, thanks, seems like a bug.
We try to fix it in future releases

[2017-12-12 13:29] ydelattre commented on #204
Hello,

thanks for taking the time to answer me :)
You right, not all characters are included in this font (basic latin a,b,c,d,e...are not include for example). It's a little weird because in OpenOffice/LibreOffice, you can type those letters even if it's not include in the font (i suppose it do an internal mapping with a font who contain basic latin).
Anyway, i can live with that !

Thanks again

[2017-12-12 13:34] ydelattre commented on #223
Great, thanks for your quick answer !
Yoann

[2017-12-12 13:36] ShockwaveNN commented on #204
I just tryed on my Ubuntu + LibreOffice 5.4.2.2 and LibreOffice show same rectangles for "Hello" phrase in `OpenSymbol`

[2017-12-12 13:55] ydelattre commented on #204
No problem typing "Hello" with Windows 7 and OpenOffice/LibreOffice.
I just tested on an Ubuntu 16.04 and LibreOffice and it show rectangles.
Some Windows magic i guess ! 😄

[2017-12-12 16:49] onny commented on #212
Thanks for helping out @ShockwaveNN, the error was due to full memory. Added a big swap partition to my VM and the problem is now fixed :)

[2017-12-12 16:49] #212 closed

[2017-12-13 04:19] BurizaDo commented on #222
@agolybev could you tell me where to change ? I add the Chinese code in translation.js and build the code on my server but that doesn't work.

[2017-12-13 07:51] ShockwaveNN commented on #212
@onny yeah, always make sure you have at least 8gb memory to compile (4gb ram + 4gb swap usually enough, but may depends of OS)

[2017-12-13 09:09] JoeLucky opened #224 "Little Bug about Line spacing."
I think I may find a problem. First I create a new document on Microsoft Office and put some letters in it. Then set the "Line spacing" to value 0.06.(picture 1) Save it and open it on onlyoffice, it look like below(picture 2).  I think Microsoft Office sets the smallest “Line spacing”, while onlyoffice does not consider this.
![picture][1]
![picture][2]
[1]: https://raw.githubusercontent.com/JoeL

[2017-12-13 11:24] HellRoad commented on #224
@JoeLucky Hi
What version Microsoft Office and DocumentServer are you used?
I used your testcase in MS Word 2013 and DocumentServer i not see difference, documents are identical

[2017-12-13 11:45] agolybev commented on #222
Hi @BurizaDo, I think you may to change style fonts  in the the new document template but it will be work only for new documents. Unfortunaly, Document Server hasn't got such functionality at this moment.  However I can do it with Microsoft Office. Also I should know how do you use Document Server to reffer you to the new document tepmlate location.

[2017-12-13 12:15] BurizaDo commented on #222
@agolybev I follow the instruction below to build on my server.
http://helpcenter.onlyoffice.com/server/linux/document/compile-source-code.aspx

Currently I'm using the JAVA sample and put the document in the folder extracted from the war file, then access the editor directly using http://sampleurl.com/EditorServlet?mode=edit&fileName=document.docx

[2017-12-14 01:33] JoeLucky commented on #224
@HellRoad  I used MS Word 2013 and onlyoffice-documentserver-5.0.4-15.x86_64.

[2017-12-14 02:38] JoeLucky commented on #224
@HellRoad
Please try this files.

[2017-12-14 11:58] HellRoad commented on #224
@JoeLucky
The problem was confirmed I have issued a bug for this
Thanks for the feedback, it will be fixed soon.

[2017-12-14 12:11] ShockwaveNN commented on #224
Bug №36517 in our private bugtracker

[2017-12-16 07:32] BurizaDo opened #225 "hard to operate on mobile editor"
As I use the 'mobile' type for document editor, I find it's difficult to scroll the doc on both Android and iOS.

For Android, if the width and height is set to 100% in config and the document has multiple pages, it's hard to scroll down. But once the virtual keyboard is called, scroll will be easy. And if the width and height is set less than 100%, for instance, 80%, scroll will be easy too.  My

[2017-12-16 08:27] BurizaDo commented on #225
I see. There's something wrong in the JAVA example, as I switch to the node sample, it's OK now

[2017-12-18 14:40] eyasliu opened #226 "There is a problem with conversion service"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
I want to convert office document files to some other format. the target file is wrong

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
please see my attachment.
[screenshot.zip](https://github.com/ONLYOFFICE/DocumentServer/files

[2017-12-18 23:50] tavinus opened #227 "Is it currently possible to use redis from unix socket?"
I was trying to have Document Server use redis from `unix socket` instead of `localhost:6379` since sockets are a bit faster. Maybe there is an undocumented way to make NodeJS use the socket?

#### From nodejs [redis docs](https://github.com/NodeRedis/node_redis)
[code]

So I guess we are always using the 4th option? Or is there a way to trigger a change?

**Do you want to request a *feature* or r

[2017-12-19 00:01] tavinus commented on #227
Answering to myself just a few minutes later.
Seems to be currently unsupported.

[Here is where](https://github.com/ONLYOFFICE/server/blob/80a8d3a21df23a20c0e33e8b9236dcf8f6e9ee34/DocService/sources/pubsubRedis.js#L48) the redis object gets instantiated and it just uses the `port, host, ...` format.
[code]

**So I guess this should become a feature request :)**

Not hard to implement but you guys

[2017-12-19 01:12] eyasliu commented on #226
@ShockwaveNN thanks your reply
the screenshot test file url is `http://www.micropoint.com.cn/company/file/Install-Wizard.doc` (you lost www), I try to convert [callback url file](https://api.onlyoffice.com/editors/callback#url) (save file first, and then call convertsion api use saved file url), it is wrong too

[2017-12-19 06:57] rustysys-dev opened #1943 "[Feature Request] Implementation of common Office short-cuts, mainly "F4""
**Do you want to request a *feature* or report a *bug*?**
Feature

**What is the current behavior?**
No support for many common short cuts.

**What is the expected behavior?**
As in WPS Office or MS Office, I would like to see many of the same short-cuts for the editors.  Namely, the implementation of the "F4" ( repeat last action ) short-cut.  This is paramount for formatting as it drastically re

[2017-12-19 10:23] ShockwaveNN commented on #226
1. 403 error
You should unescape  HTML in result field
If you get link like: `http://localhost:8080/cache/files/conv_test4_pdf/output.pdf/output.pdf?md5=k14sPdZAZAfz9fLrKK1pkQ==&amp;expires=1516269930&amp;disposition=attachment&amp;ooname=output.pdf`
You should unesapce and your link will be `http://localhost:8080/cache/files/conv_test4_pdf/output.pdf/output.pdf?md5=k14sPdZAZAfz9fLrKK1pkQ==&expire

[2017-12-19 11:00] agolybev commented on #227
Hi @tavinus, we'll think about it.

[2017-12-19 13:20] eyasliu commented on #226
very thanks,

1. sorry, I ignore that is an esapce url, it fine to me after unesapce
2. wrote  a wrong filetype is my misstake, the convert failed reason is I set thumbnail object in my nodejs code to define default options, like `const params = Object.assign({}, defaultOptions, request.body)`, it is fine after I remove the defaultOptions.thumbnail
3. sorry, I no attention is a zip file, I rename

[2017-12-19 13:20] #226 closed

[2017-12-20 00:42] VanCoding opened #228 "Support embedded fonts"
**Do you want to request a *feature* or report a *bug*?**
feature
**What is the current behavior?**
When editing a document with an embedded font on a document server that has not installed this font, the font gets not displayed correctly.

**What is the expected behavior?**
When editing a document with an embedded font on a document server that has not installed this font, the font should still g

[2017-12-20 09:15] agolybev commented on #228
Hi Patrik, thank you for reporting. This feature is implemented in the pdf viewer only. We'll add embedded fonts support in future releases.

[2017-12-22 08:35] ManuelRighi opened #229 "Lost files .."
Hello,
I have OnlyOffice Document Server version 4.4.3-7 installed on Ubuntu Server 16.04 LTS.
This is integrated with my owncloud version 10.0.2 with app OnlyOffice versione 1.1.6.
Today my all xlsx documents are empty.
I see thath onlyoffice document server never update my physical files in the owncloud, but I think save xlsx files only on the document server.

I need to restore files ...

Can y

[2017-12-22 08:54] alexanderonlyoffice commented on #229
Duplicate of #https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/140

[2017-12-22 08:54] #229 closed

[2017-12-22 16:48] ibnpetr commented on #225
@BurizaDo Thanks for the info. We will look into it.

[2017-12-28 05:10] tavinus opened #230 "Spreadsheet view location not saved on document"
Hi there! Thanks for this great app!

I was wondering if it is possible to make OnlyOffice save the position inside a document like MS Office does (at least for spreadsheets).

For instance, if I open a large spreadsheet and do something at the 3rd sheet, line 13245 and then leave the selection there, that is not saved. So if I close and open the file again, it would go back to where it was saved

[2018-01-07 11:45] tavinus commented on #227
Hi, just to let you know that I have two different servers (for different people) running redis from socket without problems for the past 20 days. So there doesn't seem to be a problem with it.

From what I heard, redis will be(was?) impacted by the KPTI patches, so maybe using unix sockets will help on not losing too much there. This could be a good before/after scenario to test the KPTI changes

[2018-01-09 08:55] agolybev commented on #227
Hi @tavinus, I don't remember where unix socket issue had happened, but in general we use tcp connection between services because we think they should be run on different servers.
However, I believe using unix socket is helpful, and we're trying to implement it in future.

[2018-01-18 09:28] flaviobattimo commented on #20
+1

[2018-01-19 07:39] jianbosu commented on #7
@agolybev [你的姓名.docx](https://github.com/ONLYOFFICE/DocumentServer/files/1645640/default.docx)

[2018-01-19 08:02] jianbosu commented on #7
@agolybev i delete all file in /usr/share/fonts,  then cp my font into it.    and run Then run the script: documentserver-generate-allfonts.sh    &&      Clear the browser cache and reopen the page. Everything is worked perfect.
![tim 20180119160237](https://user-images.githubusercontent.com/17507066/35140440-33612460-fd32-11e7-9ab2-30656cce5a3c.png)

[2018-01-22 10:00] denisnone commented on #74
Hello,
Any updates on Paste in filtered data?

[2018-01-22 10:26] #204 closed

[2018-01-22 10:27] ydelattre commented on #223
Hello,
This issue is fixed with the document server version 5.0.7.
Thanks !
Yoann.

[2018-01-22 10:27] #223 closed

[2018-01-23 15:58] superdexter opened #232 "conversion of document from docx to png or pptx to png is not working"
Hello Presently I have installed dcoument Server on my local system(Please find spec below). I am trying to use rest api from document server to convert files from one type to other.
Presently i tried to convert docx ,pptx files

 to png .But it does not seems to be working. below is the format of request sent to server.
http://localhost:1234/ConvertService.ashx
{
    "async": false,
    "filetype

[2018-01-24 08:17] ShockwaveNN commented on #232
Yeah, the main reason we developed ability to convert docs to images - to have thumbnails,  so by default images have thumbnails size 100*100 px.
You can manually specify image size by `thumbnail` -> `height` and `width` parameter
like so:
[code]
You can see addition info about thumbnails in [here](https://api.onlyoffice.com/editors/conversionapi)

If it is not enought feel free to reopen this iss

[2018-01-24 08:17] #232 closed

[2018-01-24 18:32] superdexter commented on #232
Thank you for quick reply.. @ShockwaveNN  Is it possible to convert the whole document to png. For eg a docx file consiting of 10 pages. to folder with 10 png files of each page

[2018-01-25 07:19] ShockwaveNN commented on #232
@superdexter Yeah, `thumbnail` -> `first` is option for what. If it set to `false` - you get zip archive with several png-s.
Like this:
[code]

[2018-01-26 06:33] JoeLucky commented on #7
Hi, @jianbosu .  'my font',  your font means which fonts？

[2018-01-26 07:05] JoeLucky commented on #7
@jianbosu  Did you delete all the fonts except Chinese fonts? So onlyoffice force all words to Chinese fonts. I donot think that is a good practice.

[2018-01-26 10:01] jinyue-rdj opened #233 "zh-CN fully support has an date？"
when open the  2007 & 2013 office document，such as excel，will appear messy.
Is it because zh-CN has not been fully supported?
Is there an date or for Chinese support？
Thanks in advance.
![onlyoffice_zhcn](https://user-images.githubusercontent.com/19581634/35434682-f10f5640-02c2-11e8-8e1e-37f32d32b1d7.png)

[2018-01-26 19:14] sesipod opened #234 "NextCloud & Document server Linux"
I have an issue trying to open documents on my Nextcloud instance. I click on a document to edit and the onlyoffice logo just repeats over and over. Never taking me to the document. Could someone please hep me find and fix the issue.

⚠️ Notice: I have xx.com'ed my domains to protect my servers. ⚠️

<img width="1414" alt="screen shot 2018-01-26 at 1 12 15 pm" src="https://user-images.githubusercon

[2018-01-29 03:59] calvinlevy opened #235 "NextCloud and OnlyOffice Behind Apache Reverse Proxy Receiving 302 Found Nginx"
**Dear OnlyOffice**:

After exhausting all attempts with online documentation, I now enlist your help.  After several different and complete installs, I have seemingly one final issue to work out.  I think so anyway...

**Configuration**:
**PROXY(x.x.x.100)**:  CentOS 7.4.1708; Apache/2.4.6; SELinux = Enforcing
**NEXTCLOUD (x.x.x.134)**:  CentOS 7.4.1708; Apache/2.4.6; SELinux = Disabled (Tried En

[2018-01-29 09:26] calvinlevy commented on #234
Dear @sesipod:
I too experienced this "but" when testing with http only.  Adding http://office.xx.com/ in the next field also under Advanced server settings worked for me during the test.  However, I am struggling with the https setup.  I have submitted a [ticket](https://github.com/ONLYOFFICE/DocumentServer/issues/235) also although my setup may be a little different than yours.

[2018-01-29 10:20] yannicka commented on #20
@KirillovIlya: When will this next version be released?

[2018-01-29 10:42] ShockwaveNN commented on #20
@yannicka wait until febuary or at least march of 2018, we already have TOC in dev version and it's working pretty good :)

[2018-01-29 11:56] jianbosu commented on #7
@JoeLucky yes，i copy some Chinese fonts into your system，and delete all others，clear browser cache，at the end  everything will be work perfect。
![1](https://user-images.githubusercontent.com/17507066/35509246-6ce2555c-052e-11e8-8c8f-cd144b8b526e.png)

[2018-01-29 14:07] sesipod commented on #234
Im almost sure its an Proxy issue at this point. I have been running the document server in a docker container using port 8443 https and its been working all weekend. I have only ever filled out the first line inside of Nextcloud. I also set a hard limit on the amount of ran that docker can use this seems to help not crash the host when memory is over used.

Here is my docker setup.

1.Make the ss

[2018-01-29 14:57] agolybev commented on #215
Fixed with https://github.com/ONLYOFFICE/sdkjs/commit/1ef3e35fc2d473ecad7f559f4348715f7f0ccf64
Relesed in [5.0.7](https://github.com/ONLYOFFICE/DocumentServer/releases/tag/ONLYOFFICE-DocumentServer-5.0.7)
@HellRoad, could you verify the bug?

[2018-01-29 15:03] agolybev commented on #206
Fixed with https://github.com/ONLYOFFICE/document-server-package/commit/f4c3f22dc57d69440cf11aa236d4b64d30ac0471

[2018-01-29 15:05] HellRoad commented on #215
@agolybev
Yes this bug is not reproduced in version 5.0.7

[2018-01-29 15:54] #215 closed

[2018-01-29 16:05] agolybev commented on #188
Fixed with https://github.com/ONLYOFFICE/document-server-package/commit/f4c3f22dc57d69440cf11aa236d4b64d30ac0471#diff-33bf4a606bddad743243d48760507d07
@ShockwaveNN, could you verify the bug.

[2018-01-30 08:58] ShockwaveNN commented on #188
Confirm fixed
`bash documentserver-configure.sh` output now is clear, without errors.
Checked on
onlyoffice-documentserver-ie.x86_64       5.0.99-446

[2018-01-30 08:58] #188 closed

[2018-01-30 09:30] ShockwaveNN commented on #206
Confirm fixed
`sudo yum install onlyoffice-documentserver` and
`bash documentserver-configure.sh` output now is clear, without errors.

**DocumentServer version:** 5.0.99.446

**Operating System:** CentOS Linux release 7.4.1708 (Core)

[2018-01-30 09:30] #206 closed

[2018-01-30 12:52] agolybev commented on #235
Hi @calvinlevy, I've found just one:
In [apache-reverse-proxy-vhost.txt](https://github.com/ONLYOFFICE/DocumentServer/files/1672108/apache-reverse-proxy-vhost.txt)
The statement `RequestHeader set X-Forwarded-Host x.x.x.142` is wrong. It should be `RequestHeader set X-Forwarded-Host ds.xxx.com`

[2018-01-30 14:51] calvinlevy commented on #235
Thank you @agolybev.  Unfortunately, the issue still exists after testing the modification.  I confirmed DNS is resolving okay.  Disabled/reenabled the OnlyOffice plugin.  Verified settings.  Settings accepted successfully.  Oddly, using ds.xxx.com rendered a strange DNS loopback.  It caused the URL test to ds.xxx.com to report https://ds.xxx.com,%20ds.xxx.com/welcome/.  I went back to %{THE_HOST}

[2018-01-30 15:03] agolybev commented on #235
Calvin, cloud you provide url to ds when 302 error occur?

[2018-01-30 15:09] agolybev commented on #168
@ShockwaveNN  Can't reproduce it with latest version, could you confirm if the bug still exists.

[2018-01-30 15:17] calvinlevy commented on #235
https://nextcloud.xxx.com/nextcloud/index.php/apps/onlyoffice/105

[2018-01-30 15:25] agolybev commented on #235
Hmm.. actualy I mean url to documents server, you can find it in console inside debug mode(F12).

[2018-01-30 15:30] agolybev commented on #138
@HellRoad, could you verify this bug with latest Community module.

[2018-01-30 15:33] calvinlevy commented on #235
https;//ds.wingutechnology.com
   api.js
https://nextcloud.wingutechnology.com
   editor.js
   client.js
   contactsmenu.js
   core.js
   merged-template-prepend.js
   fileinfo.js
   jquery-ui-fixes.js
   merged-share-backend.js
   merged.js
   serach.js
   previewplugin.js
   viewer.js

[2018-01-30 15:35] agolybev commented on #235
There are any errors in the debug console?

[2018-01-30 15:39] ShockwaveNN commented on #168
@agolybev yep, still there
See full install log for `yum -y install onlyoffice-documentserver-ie > install.log 2>&1`
[install.log](https://github.com/ONLYOFFICE/DocumentServer/files/1678307/install.log)

**DocumentServer version:** 5.0.99.448

**Operating System:** CentOS Linux release 7.4.1708 (Core)

[2018-01-30 15:40] HellRoad commented on #138
ONLYOFFICE_Community_Edition_Win-install (5.0.7) correctly working with node.js version 9.4.0

[2018-01-30 15:41] calvinlevy commented on #235
I do not recognize any errors.  If you're willing to email me, I will reply with credentials for you to review directly.  This is a test/dev server to prep future roll-outs.  calvin.levy@wingutechnology.com

[2018-01-30 15:55] #138 closed

[2018-01-31 11:03] agolybev commented on #235
Hi Clavin, now I see the mixed content issue. Document Server doesn't know the real protocol and redirects requests using `http` protocol. I think proxy server doesn't set up `X-Forwarded-Proto `, on the other hand I don't undestand why it happend because I've saw `RequestHeader set X-Forwarded-Proto https` statment in the appache config.

[2018-01-31 11:28] agolybev commented on #234
Hi @sesipod, Are there any errors in the browser console when you are openig a document?

[2018-01-31 12:49] sesipod commented on #234
Im guessing you are talking about under nextcloud ? If so there was none at all. I thought it was odd.

[2018-01-31 12:49] sesipod commented on #234
Im guessing you are talking about under nextcloud ? If so there was none at all. I thought it was odd.

[2018-01-31 15:04] agolybev commented on #234
I'm talking about window whrere you open a document. Same behavior is accompanied by errors  in browser console. I think the error occur before all documentserver script is loaded. So document server can't handle such errors.

[2018-01-31 20:35] sesipod commented on #234
I switched back over to using the Proxy.
The plugin is loading for now... But here is the error in the browser that its showing to me.

<img width="1661" alt="screen shot 2018-01-31 at 2 33 35 pm" src="https://user-images.githubusercontent.com/1533744/35646119-c4ca7e0a-0693-11e8-9efd-9753c4cff433.png">

[2018-02-01 08:45] agolybev commented on #234
Hi, @sesipod It seems to editor doesn't connect to the document server with websocket. I think your proxy server doesn't pass websocket traffic. But it strange if you use config mentioned above.

[2018-02-01 12:34] sesipod commented on #234
So is my proxy config correct then?

[2018-02-01 14:15] agolybev commented on #234
The seems to be right if you havn't changed it since publishing.

[2018-02-01 14:18] sesipod commented on #234
I have not changed it. But still the error :/

[2018-02-01 16:03] agolybev commented on #234
OK, let's forget about wss-error for a while. Does the editor work properly?

[2018-02-01 16:09] sesipod commented on #234
It is still working at this moment. That is strange to me because I haven't changed a thing since making this post. Except the update to the plugin.

[2018-02-01 16:18] agolybev commented on #234
It's working even without any error in browser console?

[2018-02-01 16:30] sesipod commented on #234
Its working and yes the web socket error is still there.
But you said to forget about the wss-error.

Here is what FireFox is spitting out....
![screen shot 2018-02-01 at 10 27 39 am](https://user-images.githubusercontent.com/1533744/35690181-db1ae8c8-073a-11e8-80de-e351ba027234.png)

[2018-02-01 17:12] agolybev commented on #234
There are two typical websocket errors:
- Websocket doesn't proxied with proxy server
- Websocket handshake is breaked with antivirus program installed on the client machine or server

[2018-02-01 17:24] sesipod commented on #234
I'm sure its the proxy.

I'm running Debian 9.3 on the Nextcloud box no antivirus.. Really?!? antivirus on a server asking for problems..
I'm running vmware photon for the docker container.
I have no antivirus on any of my computers or servers. ( just don't do stupid stuff and you don't need it )

[2018-02-02 00:53] calvinlevy commented on #235
Resolved.  Thanks @agolybev!  The working configuration is below.  (Yes, you are seeing correct.  Removing the **RequestHeader set X-Forwarded-Host** line resolved my issues.)  And...changing X-Forwarded-Proto to "set".

    SetEnvIf Host "^(.*)$" THE_HOST=$1
    RequestHeader set X-Forwarded-Proto https
    ProxyAddHeaders Off

Using Apache/2.4.6.

[2018-02-02 00:53] #235 closed

[2018-02-02 08:54] agolybev commented on #234
Hi @sesipod, could you provide me whole apache config and apache log?

[2018-02-02 13:57] agolybev commented on #234
@sesipod, what is about `LoadModule` statements in apache config? I haven't seen it yet.

[2018-02-02 15:28] sesipod commented on #234
The apache2 error log located: /var/log/apache2/error.log is empty except for one line starting ssl for apache2. 👍

It's at the very bottom of ( apache2.conf ) it just makes a reference to the file that holds the office proxy config. I make separate config files for each of my sites OCD. I don't use the typical sites-enabled config files.

The line is:
include /etc/apache2/proxys/office.xx.com

(-

[2018-02-02 16:47] agolybev commented on #234
Ensure that websocket proxy module is loaded with `LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so` statement.

[2018-02-02 17:10] sesipod commented on #234
Do I just add that full line to the apache2 config?

nano /etc/apache2/apache2.conf
add
LoadModule proxy_wstunnel_module modules/mod_proxy_wstunnel.so

[2018-02-02 17:17] sesipod commented on #234
I ran the following command `a2enmod proxy_wstunnel`
Think this is what you are talking about after a quick google.

[2018-02-02 17:18] sesipod commented on #234
@agolybev - running a2enmod proxy_wstunnel - Fixed the error in the Developer view! 👍

[2018-02-05 08:47] agolybev commented on #234
Hi @sesipod.
Is  there `LoadModule proxy_wstunnel_module ...` in apache config? Is there any effects after its adding?

[2018-02-05 08:49] agolybev commented on #234
@sesipod, can I close the issue?

[2018-02-05 09:52] y0va opened #236 "[FEATURE] Enable manual line breaks within a cell"
I didn't manage to enter manual line breaks within a cell in the spreadsheet editor like I'm used to with `shift - enter`.

Would be fine if it would work.

[2018-02-05 09:58] ShockwaveNN commented on #236
You can use `alt + enter` to insert line break

[2018-02-05 10:01] y0va commented on #236
Thanx!

[2018-02-05 10:01] #236 closed

[2018-02-05 10:22] y0va opened #237 "[FEATURE] Allow multiple links in one cell"
I didn't manage to enter multiple hyperlinks within one cell in the spreadsheet editor.

I'd like to be able to enter lists of hyperlinks separated by colons or new lines.

[2018-02-05 10:47] FeitianSmartcardReader commented on #92
@ShockwaveNN  Hi Sir

I got same issue, but after I do run documentserver-generate-allfonts.sh, the error still exist, do you know where is wrong?
![onlyoffice error](https://user-images.githubusercontent.com/9547938/35800780-f4f7fc3c-0aa4-11e8-963f-3786e62e9824.png)

[2018-02-05 11:02] ShockwaveNN commented on #92
@FeitianSmartcardReader probably some permission problem with access to `/usr/share/fonts`, see `/var/log/onlyoffice/documentserver/docservice/out.log` or other logs for some errors

[2018-02-05 14:43] FeitianSmartcardReader commented on #92
Thanks for your fast reply, let me check now. ;-)

[2018-02-05 15:20] FeitianSmartcardReader commented on #92
@ShockwaveNN did try, i don't think it is a error for permission.
![image](https://user-images.githubusercontent.com/9547938/35812115-13a7a31e-0acb-11e8-84cd-9db5acd9c221.png)

[2018-02-05 15:47] FeitianSmartcardReader commented on #92
I did check the log, error say:
[2018-02-05 10:43:36.745] [WARN] nodeJS - Express server listening on port 8000 in production-linux mode
[2018-02-05 15:13:24.524] [WARN] nodeJS - Plugins watch exception (https://nodejs.org/docs/latest/api/fs.html#fs_availability).
[2018-02-05 15:13:24.536] [WARN] nodeJS - update cluster with 1 workers
[2018-02-05 15:13:24.543] [WARN] nodeJS - worker 5085 started.

[2018-02-05 15:52] ShockwaveNN commented on #92
@FeitianSmartcardReader
yeah, it's because `/usr/share/fonts/cmap` have some symbolic links in it (which are not working inside docker image, they link to non-existing files in container).
It's a known problem (bug #32683 in our internal bugtracker).
One of the way to fix it - do not use docker mount like `-v /usr/share/fonts:/usr/share/fonts` and create folder `/usr/share/fonts/custom` in host ma

[2018-02-05 15:57] FeitianSmartcardReader commented on #92
@ShockwaveNN Yes, i found it too, and I do remove the symbolic links, the whole folder was removed.

And now, I am reboot my computer to try, I back to you later, thanks for your fast reply. ;-)

[2018-02-05 16:03] FeitianSmartcardReader commented on #92
based on the error in log:
1. nodeJS - error init:^M - fixed, some files had ^M in linux
2. Error: ENOENT: no such file or directory, stat '/usr/share/fonts/cmap/Identity-H'
at Error (native) - fixed, remove cmap folder and running document-generate-allfonts.sh

it always give below error, like "odttf/*.js not found", do you know what's that means?
http://122.70.148.35:8099/2017-08-11-08-40/fonts/

[2018-02-05 16:08] ShockwaveNN commented on #92
@FeitianSmartcardReader according to log everything should be fine, could you check browser cache, clean it (or use incognito mode).

[2018-02-05 16:14] FeitianSmartcardReader commented on #92
@ShockwaveNN Yes, I do using my phone and do login for test, but the error still. so strange.
still give same error in https://user-images.githubusercontent.com/9547938/35800780-f4f7fc3c-0aa4-11e8-963f-3786e62e9824.png

[2018-02-05 16:15] FeitianSmartcardReader commented on #92
@ShockwaveNN  thanks for your help, do you know where call odttf? I don't have this folder, so where this from?

[2018-02-05 16:18] ShockwaveNN commented on #92
presence of `odttf` is normale
Could you create new docker container? I strongly think this have something to do with cache

[2018-02-05 16:33] FeitianSmartcardReader commented on #92
@ShockwaveNN yes, u r right. there have something wrong in my docker, and I do reboot it, now it works.

Really thanks for that. And another questions, for chinese fonts support, do you have any idea to support that?

[2018-02-05 17:07] FeitianSmartcardReader commented on #92
@ShockwaveNN  using below command solve the issue:

First, I do copy windows fonts into /usr/share/fonts/windows-fonts

tar cv * | docker exec -i 6fc16dba5bc0 tar x -C /usr/share/fonts/
docker exec onlyoffice-document-server documentserver-generate-allfonts.sh

[2018-02-06 07:42] ShockwaveNN commented on #92
@FeitianSmartcardReader so am I right that you solved all your problems with fonts?

[2018-02-06 07:47] FeitianSmartcardReader commented on #92
@ShockwaveNN Yes, all issues solved now. Thanks, ;-)

[2018-02-06 08:49] shurik09 opened #238 "Documentserver + seafile server, edited document not changed"
Hi, I'm using Seafile server as a local fileserver, and connected Documentserver as online editing tool, and both servers are connected through ssl, which documentserver is running as a subdomain of seafile server.

There's a problem when I download the file after editing on onlyoffice documentserver, which is the downloaded (edited) document is not changed (original version). And when I click on

[2018-02-07 20:18] dnwk commented on #37
Is it possible to use web-fonts instead of loading fonts from server?

[2018-02-08 04:52] #238 closed

[2018-02-08 06:44] K0R0L commented on #37
No.
1) We are using only server fonts.
2) Proplem with unvisible/default symbols ("square") - will be fixed in version 5.1. Soon.

[2018-02-08 11:16] #234 closed

[2018-02-08 14:46] saygoodbyebye opened #239 "the file cannot be accessed right now"
![1](https://user-images.githubusercontent.com/19968269/35978890-d5f27b08-0d21-11e8-9d43-431d910e7bf5.png)
Has this error has been what is the problem?

[2018-02-08 14:50] ShockwaveNN commented on #239
@saygoodbyebye I strongly recommend fill out issue pattern to recieve any help https://github.com/ONLYOFFICE/DocumentServer/blob/master/.github/ISSUE_TEMPLATE.md

[2018-02-10 13:50] Navpreet2289 commented on #19
Hi All
Is there any way to support rtl languages now?

[2018-02-12 05:44] kiani37 commented on #19
Hi
You promise the rtl problem is resolved in version 4.5. Based on the
roadmap you set. But nothing has happened yet.

On Sat, Feb 10, 2018 at 5:20 PM, Navpreet2289 <notifications@github.com>
wrote:

[2018-02-12 05:45] kiani37 commented on #19
Hi
You promise the rtl problem is resolved in version 4.5. Based on the roadmap you set. But nothing has happened yet.

[2018-02-12 08:08] ShockwaveNN commented on #19
@kiani37 there was never plans for RTL in 4.5 in roadmap.
But in current state we have no specific date for RTL, it will be released "when it's done"

[2018-02-12 13:06] apaqd opened #240 "Support for documents containing macros"
We've got several Excel documents containing macros, therefor they're stored as .xlsm which isn't supported by OO.
It would be great if those could be edited, without the macro functionally of course.

[2018-02-13 14:20] KirillovIlya commented on #224
This is because the document defines a grid. And each line of each paragraph is aligned on this grid. If you disable it in Word, you will see that all paragraphs decrease in height to the specified exact value (it will look like in OnlyOffice Document editor).

To turn it off in Word you need to go to Layout tab -> Page setup preferences -> Grid tab -> No grid

At this moment we do not suppport th

[2018-02-16 03:23] ccruson opened #241 "Plugin autostart not working"
Pretty Sure this is a bug.

Followed directions here: https://api.onlyoffice.com/editors/config/editor/plugins.
when I load the editor it glitches rendering only an empty screen.

This is what the error log reports:
[code]

Went deep into the app.js and found that `t.get_Guid` doesn't work because t is undefined in the function `onPluginClose` when it is bound to `asc_onPluginClose` in the `setAPI

[2018-02-16 07:27] ShockwaveNN commented on #241
This is pretty old dev version of DocumentServer, currently 5.0.99.522
And BTW we do not guarantee working of `4testing` images in any way
Is this issue actual on latest version?

[2018-02-16 10:27] ShockwaveNN commented on #239
Closing due no feedback

[2018-02-16 10:27] #239 closed

[2018-02-16 11:01] flaminestone commented on #240
Hello @apaqd. ONLYOFFICE is not support ms office macroses now, and if you will upload *.xlsm file, it will be converted to *.xlsx, and all macroses will be deleted.
In future ability to editing files with macros will be added(without the macro functionally), but it not possible at this moment

[2018-02-16 15:24] ccruson commented on #241
okay so updated the version to the one you listed above. doesn't throw an error. But also doesn't autostart the plugin. Any ideas? is my config off in some way?

[2018-02-17 06:31] kiani37 commented on #19
Thank you, but you see this page.

https://github.com/ONLYOFFICE/DocumentServer/blob/master/Roadmap.md

in part of " Planned for future versions "

On Mon, Feb 12, 2018 at 11:38 AM, Pavel Lobashov <notifications@github.com>
wrote:

[2018-02-17 07:48] medicamin commented on #19
As you might noticed, it is planned for future versionS. They have not
clarified which version. It's for future, maybe 4.5, maybe 5, mabe 8!!!

We will be so glad and thankful if developers add RTL as soon as possible.
On Feb 17, 2018 10:01 AM, "kiani37" <notifications@github.com> wrote:

[2018-02-19 04:30] 3xxx commented on #7
@jianbosu 请问你的界面是如何变成中文的？
How does your interface become Chinese?

![snap6](https://user-images.githubusercontent.com/10678867/36362489-4bb55d5a-1570-11e8-8f45-8abeb9cd8eb3.jpg)

[2018-02-19 10:31] 3xxx commented on #7
THANK you，According to your method, now is ok. thank you。
[code]

[2018-02-19 22:32] maxkadushkin commented on #241
your config is correct. in that version there is an issue with plugins designed for 'left' plugins panel
"isInsideMode": true
bug doesn't affect other types of plugins.  it'll fixed in next release

[2018-02-20 15:24] ShockwaveNN commented on #241
@ccruson your problem is fixed in https://github.com/ONLYOFFICE/web-apps-pro/commit/d08137da83ebb9f9fc1411e6a073f821552f0ab9
I checked `onlyoffice/4testing-documentserver-ie:5.0.99.543` with default Clipart plugin and config with this lines and Clipart is correctly shown on start:
[code]

This fix will be in stable release of 5.1

[2018-02-21 01:32] 3xxx commented on #222
https://github.com/ONLYOFFICE/DocumentServer/issues/7
here is ok for chinese toolbar.

[2018-02-21 21:16] dcaravana opened #242 "ONLYOFFICE PPT editor stuck with simple Draw schema"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
ONLYOFFICE Desktop (and web) start loading the remains stuck at a specific percentage (in this case 45%).

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Open the file attached.
[ONLYOFFICE Draw BUG.pptx](https://github.com/ON

[2018-02-22 09:58] flaminestone commented on #242
Thanks for issue. It is realy bug, we will try to fix it in future releases

[2018-02-22 11:35] dcaravana commented on #242
You're welcome.

Since being stuck really hits negatively the entire app (which in contrast is really great IMO), it would be good to fix the "being stuck" part of this bug immediately (maybe just giving a proper error and visualising a placeholder instead of the drawing), then fix it properly in a future release.

[2018-02-24 09:02] xwinfo commented on #7
@3xxx 请问这个配置"editorConfig":  在哪个文件里面修改呢？

[2018-02-27 20:58] ccruson commented on #241
Thanks

[2018-02-27 20:58] #241 closed

[2018-03-01 05:17] tangpeibin123456 commented on #7
在哪里加的

[2018-03-03 04:47] 3xxx commented on #233
#7
here is ok for chinese.
https://github.com/3xxx/ONLYOFFICE-golang

[2018-03-03 04:51] 3xxx commented on #7
https://github.com/3xxx/ONLYOFFICE-golang
@xwinfo 就是你调用的页面里啊。
[code]

[2018-03-03 13:08] 3xxx commented on #7
https://github.com/neroxps/Docker-Only-Office-Chinese-font
中文字体。

[2018-03-05 08:17] RomaricMollard opened #243 "*feature* (spreadsheet) ability to set background-color depending on cell-value"
Can we set background-color depending on cell-value ? Like red if less than 0, or green instead ?
Currently it works on imported document from openoffice or microsoft excel but we cannot edit it (or I did not find how).
Romaric, awesome work btw :)

[2018-03-05 08:20] RomaricMollard opened #244 "*bug* (spreadsheet) scroll is too fast on mac touchpad"
What is the current behavior?
Scroll is too fast, it's impossible to work with the touchpad scroll (both vertically and horizontally).
I suppose you use the scroll 'tick' (or an "onScroll") to jump to the next row/column, but I think it will work well on mac touchpad reasoning with pixels width and height (of both cells and touchpad scroll deltas)
Romaric

[2018-03-05 08:25] ShockwaveNN commented on #243
This is called `Condition Formatting` and you're right, we already support this feature in read-only mode.
We have plans to add creating of Condition Formatting but it's not in next version

[2018-03-05 08:26] ShockwaveNN commented on #244
Could you specify your Mac device, Mac OS version and version of DocumentServer

[2018-03-05 08:31] RomaricMollard commented on #244
Yes, sorry :
Issue observed on
- Sierra and High sierra,
- Mac Book pro 2011 and 2017,
- DocumentServer version 5.0.6

[2018-03-05 10:21] ShockwaveNN commented on #244
@RomaricMollard Yeah, thank you, I can confirm this is a bug.
Issue 37109 in our internal issue tracked, we try to fix this behavior in future releases.

[2018-03-05 13:54] RomaricMourgues opened #245 "*feature* (presentation) implement slide number"
As said in title, a good feature would be to implement slide number in presentation editor, even if I'm sure you're overbooked :)

[2018-03-05 14:08] ShockwaveNN commented on #245
Thanks for this idead, we consider implementing it
Issue 37117 in our private issue tracker

[2018-03-05 14:56] RomaricMourgues opened #246 "*feature* (presentation) new themes"
I noticed that Presentation themes are a bit old school,
can I change the themes manually ? How can I do this ?

I found this directory : DocumentServer/sdkjs/slide/themes, but I don't fully understand how it works and how to reload DocumentServer with new themes.

A lot of free of charge slides templates are available here https://www.slidescarnival.com for example

[2018-03-05 15:26] ShockwaveNN commented on #246
Sorry, therer is no way to change themes without rebuilding application.

[2018-03-05 16:56] RomaricMollard commented on #246
Ok, I will rebuild the application, what are the base64 strings in each theme.js (PPTY;v1;122731;[...]) ?

[2018-03-08 16:25] RomaricMollard opened #247 "*bug* (spreadsheet) invisible cell content"
Hello, it's me, again :)

I noticed an other error on the spreadsheet app, it more difficult to explain.

**Current behavior?**
-> Somes cells contains data but are shows empty and no way to have any content without reloading the document.

**Steps to have the bug**
- Write =A1+1 on cell A2
- Convert A2 to $ (it should write $1)
- Copy past A2 somewhere else, the case is empty
- It impossible to r

[2018-03-10 09:26] ShockwaveNN commented on #247
@RomaricMollard Thank you. I can confirm - this is a bug, issue 37157 in our internal issue tracker

[2018-03-12 01:46] eraizi opened #248 "Document content is wrong"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Document content is wrong
![1](https://user-images.githubusercontent.com/20589870/37261778-12f99678-25da-11e8-8cde-9d12f5fa65e0.png)

![Uploading 1.png…]()

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected

[2018-03-12 07:23] GregMighty opened #249 "*bug* (spreadsheet) vertical wrap digits issue"
Hello

I noticed an error on the speedsheet editor.

**Current behavior?**

Wrong vertical digits.

![2018-03-10_13h19_42](https://user-images.githubusercontent.com/28106243/37270257-6b5bf808-25ce-11e8-8774-200d5a77cfe0.gif)

**Steps to have the bug**

- Type some digits on cells like 123456789
- Rotate text up

- Decrease column width

**DocumentServer version:**

5.0.7 deb package linux server a

[2018-03-12 07:36] ShockwaveNN commented on #248
@eraizi Hi. Please attach this document

[2018-03-12 07:45] ShockwaveNN commented on #249
Hello. Thank for your report.
This is known bug - issue 33946 in our internal ticket system

But also I notices some digits in your file are pretty strangly aligned.
Like last zero in `1.00` moved after you decrease column width.
Could you attach this we so we have a look?

[2018-03-12 08:15] eraizi commented on #248
[测试数据.docx](https://github.com/ONLYOFFICE/DocumentServer/files/1801877/default.docx)
this is  the test doc

[2018-03-12 08:16] eraizi commented on #248
@ShockwaveNN  this is the test doc
[测试数据.docx](https://github.com/ONLYOFFICE/DocumentServer/files/1801879/default.docx)

[2018-03-12 08:23] eraizi commented on #248
@ShockwaveNN  I want to control the editor quantity of people ,Has you any better idea,thanks.

[2018-03-14 06:23] jinyue-rdj commented on #233
@3xxx thank you very much，but i can`t use it，our language is java

[2018-03-19 02:39] kalcaddle opened #250 "[Bug report] Excle app,edit the contents part of cell, abnormality"
**versions of DocumentServer:** 5.07; demo also The official website demo can also be tested。
https://api.onlyoffice.com/editors/editor?method=xlsxEditor

Select the cell in a part of the text, click the toolbar after thickening will be thickened, again after clicking no response, should be the cancellation of rough.

The same problems are: thickening, italics, underlines, deleting lines, marking,

[2018-03-19 08:50] Rita-Bubnova commented on #250
Hello.
Could you for a better understanding of the problem attach a video or a gif with reproducing the problem?

[2018-03-19 09:30] JermineHu opened #251 "Support Markdown feature"
**I want to request a *feature* is that support the Markdown format document edit .**

**Current behavior is not support markdown file editing .**

Developers often use Markdown to write documents. So will it be considered to support markdown?

[2018-03-19 09:37] ShockwaveNN commented on #251
Hi, currently we have no plans to support Markdown, but we may consider it in future

[2018-03-19 12:48] kalcaddle commented on #250
https://drive.google.com/file/d/1_0PHfIRyZd1Sv_5OT-tinPsuBIElmzFp/view

can't toggle the style.

[2018-03-19 13:36] Rita-Bubnova commented on #250
Thank you. I create an issue 37247 in our internal issue tracker.

[2018-03-19 15:14] 3xxx commented on #7
有20个连接限制，不是一个文件限制20个连接，是整个限制20个连接，假如有几个文档编辑，很容易就突破20个人了。超过的连接只能读，不能编辑。

[2018-03-20 01:57] eraizi opened #252 "Support of Drop-down lists"
original file:
![11](https://user-images.githubusercontent.com/20589870/37631540-1b778f02-2c25-11e8-9eec-08b92c902c83.png)
upload file:
![22](https://user-images.githubusercontent.com/20589870/37631542-1f6d0236-2c25-11e8-8e65-9670548e7e69.png)

[2018-03-20 06:28] JoeLucky opened #253 "Cannot view this file in doc suffix, but do good in docx suffix."
Hi,
I view this file on official website, turn out
![picture](https://github.com/JoeLucky/Practice/blob/master/pro.png?raw=true "picture1")
When I convert it into docx suffix on my local PC using office software. It works well.

These are the files (before convert and after convert )
https://github.com/JoeLucky/Practice/blob/master/openerror/test.doc?raw=true  (before)
https://github.com/JoeLucky/

[2018-03-20 07:41] ShockwaveNN commented on #252
@eraizi Hi, could you attach this file

[2018-03-20 08:15] ShockwaveNN commented on #253
@JoeLucky Hi, seems this file is not proper doc, (Libreoffice dont even want to open it)
How did you get this file?

[2018-03-20 09:41] eraizi commented on #252
@ShockwaveNN
[Uploading test.xlsx…]()

[2018-03-20 09:47] ShockwaveNN commented on #252
@eraizi You're attached file wrong, link to file lead to this issue url

[2018-03-20 09:51] eraizi commented on #252
@ShockwaveNN
[test.xlsx](https://github.com/ONLYOFFICE/DocumentServer/files/1828723/test.xlsx)

[2018-03-20 10:13] Rita-Bubnova commented on #252
Hello.
The drop-down list functionality is unsupported now, but have it in future plans.

[2018-03-20 21:25] winsats opened #254 "feature (Disable Copy-To-Clipboard)"
Is there a feature to disable the copy-to-clipboard in editor? Disable all forms of Copy (key, button, menu)?

[2018-03-20 21:26] winsats commented on #254
Is there a feature to disable the copy-to-clipboard in editor? Disable all forms of Copy (key, button, menu)?

[2018-03-21 11:20] ShockwaveNN commented on #254
No, there is no such option

[2018-03-21 12:10] TheMrApostel opened #255 "Firefox doesn't support copy & paste"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
You are unable to copy and paste when using the latest version of Mozilla Firefox.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Start Firefox
2. Open a spreedsheet in OnlyOffice
3. Try to copy and paste a value
4. Nothing h

[2018-03-21 13:53] KirillovIlya commented on #248
This feature is in our roadmap, but not in one of the neasrest versions.

[2018-03-21 14:13] ShockwaveNN commented on #255
@TheMrApostel Seems we cannot reproduce your problem on client-side with Ubuntu 16 and Windows 7, 10 and Firefox 59.0.1
What is your client-side OS?

[2018-03-21 14:14] winsats commented on #254
Is it possible to make changes in the source code to disable the copy-to-clipboard permanently?

[2018-03-21 14:18] ShockwaveNN commented on #254
@winsats no, there is no easy way to do that

[2018-03-21 14:50] winsats commented on #254
Would like to know if you have any details on where in the code this is implemented. I would like to try it. Thanks

[2018-03-21 17:39] TheMrApostel commented on #255
@ShockwaveNN
I just tested it from my personal computer and the issue does not occure here.
So it must be an issue with our work environment.

[2018-03-21 17:39] #255 closed

[2018-03-21 18:02] sfreiberg commented on #220
I've also seen this issue when we had postgres, redis and rabbit on external servers and the document server behind an elastic load balancer. When everything was on a single box everything was fine.

[2018-03-22 01:16] JoeLucky commented on #253
@ShockwaveNN Hi, I export files from a web app called https://mubu.com. I donot know how it generates doc files.

[2018-03-22 11:10] ShockwaveNN commented on #254
Project is written on Javascript, no so hard to find out it by yourself.
It you want - you can contact our sales team at sales@onlyoffice.com and discuss posibility to make your request as a feature.

[2018-03-26 08:14] ExaconAT opened #256 "Onlyoffice Document Server not working with NC 13.0.1"
BUG

NC Protocol:
file_get_contents(https://oo.xx.net/ConvertService.ashx): failed to open stream: HTTP request failed! HTTP/1.0 504 Gateway Time-out at /var/www/clients/client1/web16/web/apps2/onlyoffice/lib/documentservice.php#351

16.04 LTS - All upgraded

Firefox latest

[code]
[code]

[2018-03-26 11:31] ibnpetr commented on #256
Please specify the type of DocumentServer installation
Are you trying to connect to DocumentServer from the NC instance?

Try inserting
` 'onlyoffice' => array ( 'verify_peer_off' => TRUE )`
to the /nextcloud/config/config.php
Specify the source of the certificate.

[2018-03-26 11:39] ExaconAT commented on #256
Via apt package, yes im trying to connect from NC to OO DS.

'onlyoffice' => array ( 'verify_peer_off' => TRUE ) works like a charm, thanks!!!

Certificate is Letsencrypt and updated.

[2018-03-26 11:43] ExaconAT commented on #256
Doesnt work again :/

[2018-03-26 12:32] cpot commented on #252
+1 (functionality highly important in our opinion)

[2018-03-26 15:37] Floflobel commented on #256
I have exactly the same problem. My first instance is working well and the second instance is not working.
I see on nextcloud 13.0.1, I have two sections to set the onlyoffice setting. The first in "Additional Settings" and the second in "ONLYOFFICE".

screen:
![screenshot from 2018-03-26 17-34-33](https://user-images.githubusercontent.com/13889750/37916563-69ca880c-311c-11e8-85a3-7a13750f34d2.png

[2018-03-27 05:45] ExaconAT commented on #256
Confirmed, me has two sections too.

[2018-03-28 09:08] #185 closed

[2018-03-28 12:15] alexanderonlyoffice commented on #256
Hello @Floflobel, advanced server settings are for internal URL addresses.

It seems that the document server is inaccessible for NC. Please check the accessibility of the document server from the server where NC is installed. Use wget command to do it: wget https://your_document_server_address

[2018-03-28 12:30] Floflobel commented on #256
@alexanderonlyoffice, I make a wget of my nextcloud to my document server and it works perfectly.
I installed several nextcloud and for my first nextcloud, onlyoffice works perfectly.
For information it is the same document server for all nextcloud

[2018-03-28 17:41] alecplanet opened #257 "Unable to resize tables."
Feature request:
The ability to resize Tables. It is possible to resize textboxes/charts/autoshapes, it is a real limitation that tables cant be resized in the same way.

[2018-03-28 17:48] alecplanet opened #258 "Copy and paste from spreadsheet to presentation error."
Two issues when I attempt to cut and paste a table from a Spreadsheet to a Presentation:

1) When I cut and paste from "web" Spreadsheet to a "web" Presentation. The resulting table is not in a useable format and can not be resized. Causing the user much work to reformat and resize.

2) Same work flow as 1 (trying as a work around), going from a "web" Spreadsheet to a MSP .PPT file. The resulting

[2018-03-28 19:46] alecplanet opened #259 "loss of connection when editing docs"
With multiple documents open I'm finding frequent occurrences where:

1) The file is locked and no changes can be made. Or,

2) A document will state there was a loss of connection after some amount of time.

Both of these cases require a screen refresh.

This screen refresh will take you back to the beginning of a document, causing you to return to your original location / page each time. This se

[2018-03-29 07:29] ShockwaveNN commented on #257
Can you specify that do you mean by `Tables`?
Especially part `It is possible to resize tables` and `tables cant be resized in the same way`

[2018-03-29 07:39] ShockwaveNN commented on #258
Hi there.
1. Could you attach video or gif of first problem, we can reproduce this problem correctly
2. As far a understand - MSP .PPT  is some special PPT format,  related with Microsoft Project tool, could you attach this file?

[2018-03-29 09:53] raphson93 opened #260 "DOCX take forever to load"
after update to the latest document server, it takes forever to load a docx documents.

[2018-03-29 10:18] ShockwaveNN opened #261 "`service nginx start` fails on centos 7"
**What is the current behavior?**
1. Install `onlyoffice-documentserver` on Centos 7 using https://helpcenter.onlyoffice.com/server/linux/document/linux-installation-centos.aspx
2. On step `sudo service nginx start` there will be error for starting nginx

**DocumentServer version:** 5.1.0.115

**Operating System:** Centos 7 (DigitalOcean)

[2018-03-29 10:27] raphson93 commented on #261
but someone it still can view others document except docx if you didnt restart the nginx service after updating to the latest document server

[2018-03-29 12:34] agolybev commented on #261
@ShockwaveNN, it happend with wrong config file in epel nginx package.
Try replacing default nginx config `/etc/ngnix/ngnix.conf` with config from nginx repo:
[code]

[2018-03-29 12:36] agolybev commented on #260
Hi @raphson93, what type of distribution do you use?

[2018-03-29 15:50] alecplanet commented on #257
Sorry, that was a typo, I meant textboxes/charts/autopshapes. you are able to resize those, by grabbing the corner of the item and dragging it, just as you would in microsoft office. However, you are not able to resize tables in a practical way. you can go in and edit elements of the table to kind of accomplish a resize but its incredibly impractical.

[2018-03-29 15:53] ShockwaveNN commented on #257
@alecplanet Which version of DocumentServer you using?
We recently released 5.1.0 and added resizing tables via drag'n'drop

[2018-03-30 00:35] bauerheim commented on #261
Same here! Get 5.1.0 Update via yum update with additional nginx update to Version 1.12.2.2
Bad Gateway

[2018-03-30 01:14] raphson93 commented on #260
Hi @agolybev , im running on centos 7

[2018-03-30 01:17] raphson93 commented on #261
Hi @agolybev are we supposed to have onlyoffice-http.conf in /etc/nginx/includes before we start the nginx service? because after install the latest document server, nginx failed to start because it said the conf file was missing

[2018-03-30 01:28] raphson93 commented on #261
@lvsbird same with nginx-1.13.10

[2018-03-30 01:36] raphson93 commented on #261
hi @agolybev still the same after replacing :(

[2018-03-30 08:20] agolybev commented on #261
Hi @raphson93 it isn't your issue. I think you have another problem.

[2018-03-30 08:47] lvsbird commented on #261
It's not a Problem with nginx. I tested it with current Snapshot. Performed the OnlyOffice Update from 5.0.7 to 5.1.0 without nginx update Package.
After Update Documents will not be opened.
Log entry from /var/log/onlyoffice/documentserver/nginx.error.log

[error] 1199#1199: *2 open() "/var/www/onlyoffice/documentserver/web-apps/apps/documenteditor/main/resources/help/de/Contents.json" failed (2:

[2018-03-30 08:53] lvsbird commented on #261
Tried to restart now nginx after upgrading Onlyoffice-Documentserver-IE.
ERROR nginx: [emerg] open() "/etc/nginx/includes/onlyoffice-http.conf" failed (2: No such file or directory) in /etc/nginx/conf.d/onlyoffice-documentserver.conf:1

Seems the update has changed or deleted existing config-files

[2018-03-30 09:42] lvsbird commented on #261
Performed a single nginx update to current version, replaced default nginx config /etc/ngnix/nginx.conf with config from nginx repo. OnlyOffice 5.0.7 works fine.

After Upgrading OnlyOffice to 5.1.0 error appears as mentioned above

[2018-03-30 09:49] quelo1972 opened #262 "FATAL: password authentication failed for user "onlyoffice""
**I want report a *bug*?**

I followed the instruction of Linux installation and when I try to install onlyoffice-documentserver I have the error below

[code]
**DocumentServer version:**

**Operating System:** UBUNTU SERVER 16.04 LTS

**Browser version:** Latest Google Chrome

[2018-03-30 09:54] ShockwaveNN commented on #262
Seems you entered something wrong on `sudo -i -u postgres psql -c "CREATE USER onlyoffice WITH password 'onlyoffice';"`

Please check password for postgres `onlyoffice` user

[2018-03-30 10:00] quelo1972 commented on #262
I don't know very well postgresql, how can I check it?

[2018-03-30 10:09] ShockwaveNN commented on #262
@quelo1972 https://stackoverflow.com/a/12721095/820501

[2018-03-30 10:19] quelo1972 commented on #262
I redid everything and it worked, excuse me!

[2018-03-30 10:26] quelo1972 opened #263 "W: http://archive.ubuntu.com/ubuntu/dists/precise/Release.gpg: Signature by key 630239CC130E1A7FD81A27B140976EAF437D05B5 uses weak digest algorithm (SHA1)"
I followed instructions from
[http://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx](http://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx)
When I do apt update && apt upgrade I have this warning

`W: http://archive.ubuntu.com/ubuntu/dists/precise/Release.gpg: Signature by key 630239CC130E1A7FD81A27B140976EAF437D05B5 uses weak digest algorithm (SHA

[2018-03-30 11:26] quelo1972 opened #264 "NEXTCLOUD ONLYOFFICE integration - Error when trying to connect (Bad Request or timeout error)"
I followed instructions from
http://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx
and then I followed the instruction to activate teh ssl encription and now the documentserver is listening correctly on thee 443 port with ssl encryption

Now I want to to integrate nextcloud with onlyoffice. I've successfully installed in other machine nextcloud with ssl support I installed

[2018-03-30 11:28] ShockwaveNN commented on #263
Yeah, it's a known issue.
Soon we will  remove line about `echo "deb http://archive.ubuntu.com/ubuntu precise main universe multiverse" | sudo tee -a /etc/apt/sources.list` from instruction, it's not needed since release of 5.1.0

Thanks anyway

[2018-03-30 14:57] lvsbird commented on #261
Looked at the Centos Service-Status from supervisord before and after upgrade.
Supervisord is running but only with only one task.
Before Upgrade there are many tasks.
Docservice at Port 8000 isn't running after upgrade.

[2018-03-30 15:11] agolybev commented on #260
@raphson93, try reconfiguring documentserver with `documentserver-configure.sh` after package update.

[2018-03-30 16:24] lvsbird commented on #261
Folder /etc/nginx/conf.d
ln -s /etc/onlyoffice/documentserver/nginx/includes/onlyoffice-documentserver-common.conf onlyoffice-documentserver-common.conf
ln -s /etc/onlyoffice/documentserver/nginx/includes/onlyoffice-documentserver-docservice.conf onlyoffice-documentserver-docservice.conf
ln -s /etc/onlyoffice/documentserver/nginx/includes/onlyoffice-documentserver-spellchecker.conf onlyoffice-docu

[2018-03-31 13:53] TerjeTM opened #265 "After Linux update Onlyoffice document server does not work"
Hello everybody,
I need urgent help!

Current versions:
Ubuntu 16.04.4 LTS (GNU/Linux 4.4.0-87-generic x86_64)
Nextcloud 13.0.1
Apache (current version)
nginx version: nginx/1.10.3 (Ubuntu)
Onlyoffice Documentserver 5.0.7 (i suspect)
PHP 7.0.28
DB MYSQL: 5.7.21
Nodejs: v6.14.1
Java Version:
openjdk version "1.8.0_151"
OpenJDK Runtime Environment (build 1.8.0_151-8u151-b12-0ubuntu0.16.04.2-b12)
Ope

[2018-03-31 16:16] lvsbird commented on #265
Same here

[2018-04-01 00:50] seelaman opened #266 "after upgrade to 13.0.1 no documents load (converter errors)"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Unable to open any documents

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Opening an existing docx, xlsx or pptx file
Onlyoffice loading animation comes on
Then "Loading presentation"
This spins for a long time
Eventually er

[2018-04-02 01:24] raphson93 commented on #260
Hi @agolybev, this is the logs file:
`2018/03/29 17:40:32 [error] 14772#14772: *1155 open() "/var/www/onlyoffice/documentserver/sdkjs/common/Images/content_control_toc.png" failed (2: No such file or directory), client: 126.32.3.107, server: , request: "GET /2018-01-11-13-33/sdkjs/common/Images/content_control_toc.png HTTP/1.1", host: "owncloud.htasia.com:7341", referrer: "https://owncloud.htasia.

[2018-04-02 01:28] raphson93 commented on #260
@agolybev, after reconfigure the documentserver, nginx service wont start...
`Apr 02 09:17:37 htcowncloud systemd[1]: Starting nginx - high performance web server...
Apr 02 09:17:37 htcowncloud nginx[18648]: nginx: [emerg] open() "/etc/nginx/includes/onlyoffice-http.conf" failed (2: No such file or directory) in /etc/nginx/conf.d/onlyoffice-documentserver.conf:1
Apr 02 09:17:37 htcowncloud systemd

[2018-04-02 01:31] raphson93 commented on #260
after i run a search on the server, the onlyoffice-documentserver.conf is exist,.

/etc/nginx/conf.d/onlyoffice-documentserver.conf
/etc/nginx/conf.d/onlyoffice-documentserver.conf.old
/etc/nginx/conf.d/onlyoffice-documentserver.conf.template.rpmsave
/etc/onlyoffice/documentserver/nginx/onlyoffice-documentserver.conf.template

[2018-04-02 01:36] raphson93 commented on #261
hi @ShockwaveNN

can this issue resolve as fast as possible ?
because our company productions are using it..
Thank you

[2018-04-02 03:53] raphson93 commented on #261
hi @lvsbird

did you run the documentserver-configure.sh after update ?
can let me know the output ?
thanks

[2018-04-02 07:47] ShockwaveNN commented on #266
seems this is config conflict after upgrading DocumentServer from some pretty old (4.x) version to 5.x
Try to backup your config, remove documentserver config from `/etc/onlyoffice/documentserver` and reinstall DocumentServer
(BTW 13.0.1 is not version of DocumentServer`

[2018-04-02 07:49] ShockwaveNN commented on #265
Try workaround mentioned in https://github.com/ONLYOFFICE/DocumentServer/issues/266#issuecomment-377877431
It's a known problem with incompatible config files moving during releases. We trying figure out solution

[2018-04-02 10:56] agolybev commented on #260
Hi @raphson93, I think,  I reproduced your issue.
Try remove backup nginx configs and add it again with following command:
[code]
Finally, check whether nginx configs added with
[code]
It should looks like this:
[code]

[2018-04-02 15:11] TerjeTM commented on #265
The document server can not be uninstalled or reinstalled. I have already tried. See history. Thank you

[2018-04-02 15:20] ShockwaveNN commented on #265
@TerjeTM try to remove /var/lib/dpkg/info/onlyoffice-documentserver.prerm file and try again to uninstall documentserver.

[2018-04-02 19:33] TerjeTM commented on #265
Hello and thank you for the tip.
By deleting the file "/var/lib/dpkg/info/onlyoffice-documentserver.prerm" I was able to uninstall the document server (including DB) and reinstall it again.
Now I have another problem:
I can now open the documents, but neither edit nor save works, even the automatic save does not work.
I am not sure if the DB was deleted properly when I look log.

I tried to recrea

[2018-04-02 20:17] TerjeTM commented on #265
Hello me again

Everything seems to be all right. Other documents work.

The ticket can be closed. Many thanks for the help

[2018-04-02 20:17] #265 closed

[2018-04-03 01:26] raphson93 commented on #260
hi @agolybev
why everytime my `onlyoffice-documentserver.conf` file in `/etc/nginx/conf.d` get override?
my nginx failed because it said port 80 has been used. So after export the DS_PORT to the environment, i managed to run `documentserver-configure.sh` without failing. But the documentserver wont run :(

[2018-04-03 03:04] Shawndev commented on #147
The nextcloud and onlyoffice is installed together, and the onlyoffice USES the docker deployment method. setting and save errors

![Uploading image.png…]()
![wx20180403-110404](https://user-images.githubusercontent.com/17489462/38227019-c1abe7a6-372e-11e8-8886-9944308c593e.png)

[2018-04-03 03:53] GreyWolf007 opened #267 "Paste Image & Text from Word2016 does not work on chrome"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
    Copy pictures and characters together in word2016, paste together and do not show pictures.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
    In word2016, pictures and characters are copied together, and pasted in the onlin

[2018-04-03 03:55] 769876106 opened #268 "In Google browser, pictures and characters are copied and pasted together, and pictures are not displayed. There is no such problem in IE."
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Copy pictures and characters in word2016, paste together and do not show pictures.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
In word2016, pictures and characters are copied together, and pasted in the online editor opened b

[2018-04-03 08:24] ShockwaveNN commented on #268
Duplicate of #267

[2018-04-03 08:24] #268 closed

[2018-04-03 08:26] ShockwaveNN commented on #267
Hi. This is a known problem (bug 29867 in private bug tracker) and currently we have no solution for it. We try to figure something out in future.

[2018-04-03 08:54] ShockwaveNN commented on #265
@TerjeTM Good to hear.
BTW we strongly advice use docker version of our product, because update process will be more streamlined

[2018-04-03 09:02] agolybev commented on #260
hi @raphson93, actually I'd recommend reinstall documentserver. Try uninstalling one and installing it again. We have to verify documentserver update procedure.

[2018-04-03 18:54] dnutan commented on #261
Just want to confirm what @lvsbird found out. Updating from 5.0.7 to 5.1.0 the rpm package did this (excerpt of most meaningful actions):
[code]
Whereas a yum reinstall of 5.1.0 brought:
[code]

[2018-04-04 01:56] raphson93 commented on #260
hi @agolybev
tried reinstall still no luck

[2018-04-04 02:10] raphson93 commented on #260
hi @agolybev, after reinstall the documentserver and reconfigure it with https, the server is running fine

[2018-04-04 02:27] raphson93 commented on #261
hi @ShockwaveNN, the problem has been resolved and the documentserver is running fine thanks to @agolybev

[2018-04-04 08:54] WladyX commented on #261
This happens also for the Debian repo, can you please update that package also?
Thank you very much!

[2018-04-04 09:29] ShockwaveNN commented on #261
@WladyX Hi, what exactly `This happens also for the Debian repo`?
There is several issues in this thread

[2018-04-04 10:37] WladyX commented on #261
Apr 04 11:58:03 onlyoffice systemd[1]: Starting A high performance web server and a reverse proxy server...
Apr 04 11:58:03 onlyoffice nginx[56787]: nginx: [emerg] open() "/etc/nginx/conf.d/onlyoffice-documentserver.conf" failed (2: No such file or directory) in /etc/nginx/nginx.conf:61
Apr 04 11:58:03 onlyoffice nginx[56787]: nginx: configuration file /etc/nginx/nginx.conf test failed

The symlin

[2018-04-04 11:04] ShockwaveNN commented on #261
@WladyX to be sure - this is after upgrade 5.0.7 -> 5.1.0?
Did you use custom config?

[2018-04-04 11:15] WladyX commented on #261
this is a fresh install, no sure what custom config is.

[2018-04-04 11:25] WladyX commented on #261
Ubuntu 18.04, yes fresh install.

[2018-04-04 11:27] ShockwaveNN commented on #261
@WladyX Oh, it will be better if mention that earlier, what you install it on pre-release software

[2018-04-04 11:30] WladyX commented on #261
I will try 16.04 and get back to you, I suspect the /etc/nginx/conf.d/onlyoffice-documentserver.conf symlink will also be broken.

[2018-04-04 11:33] ShockwaveNN commented on #261
@WladyX  it was definitely working 6 days ago while I created this issue, but I check on ubunut 16.04 also

[2018-04-04 11:34] agolybev commented on #260
Hi @raphson93, Good news!

[2018-04-04 11:47] ShockwaveNN commented on #261
@WladyX  just checked it on 16.04 by building it via [this](https://github.com/onlyoffice-testing-robot/documentserver-install-from-manual) `Dockerfile` and everything seems good.
Still working on 18.08 BTW

[2018-04-04 14:49] WladyX commented on #261
I can confirm it works ok on 16.04.
Thanks!

[2018-04-04 15:13] ShockwaveNN commented on #263
We remove entry about using this old repo from [instruction](https://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx). Thanks for noticing.

[2018-04-04 15:13] #263 closed

[2018-04-04 22:51] RomaricMollard opened #270 "*Bug* spreadsheet 5.1.0 can't copy - paste"
**What is the current behavior?**
Copy paste cell freeze the app (or made it readonly)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Try to copy paste multiple time a cell

**Did this work in previous versions of DocumentServer?**
Yes

**DocumentServer version:**
5.1.0

**Operating System:**
OSX

**Browser version:**
Chr

[2018-04-04 23:04] RomaricMollard commented on #270
I replaced all .asc_getX() by .asc_getX (and asc_getY, asc_getWidth, asc_getHeight) in */var/www/onlyoffice/documentserver/web-apps/apps/spreadsheeteditor/main/app.js* and it works now

[2018-04-05 07:44] ShockwaveNN opened #271 "Postinstall script problems installing on Ubuntu 18.04"
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Try to install documentserver 5.1.0 on Ubuntu 18.04 via [instruction](https://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx).
Step `Adding the repository containing the up-to-date Node.js package versions:` can be ignored, since Ubuntu 18.04 alread

[2018-04-05 08:06] ShockwaveNN commented on #270
@RomaricMollard Sorry we cannot reproduce your issue on OSX
Could you specify which version of OSX you're using,
which version of Chrome
and how did you copy cells (via top toolbar or via hotkey, or via Context menu), also gif would be great

[2018-04-05 09:08] RomaricMollard commented on #270
Sorry but I fixed it as I said, so I can't provide you a gif

I am on MacOS 10.13.2, Chrome 65.0.3325.181, and I simply use hotkey to copy paste cells into empty cells on a new document (and it is only on spreadsheet, copy past works well on other editors btw).

But it seems to be a JS issue, may be an issue during the update, I will continue with my monkey fix for now waiting for the next release

[2018-04-05 10:43] ShockwaveNN commented on #270
@RomaricMollard Could you specify do you use `onlyoffice-documentserver` or `onlyoffice-documentserver-ie` or `onlyoffice-documentserver-de`

[2018-04-05 11:04] RomaricMollard commented on #270
I use onlyoffice-documentserver, on debian 8 updated via `sudo apt-get install onlyoffice-documentserver`

[2018-04-05 11:11] ShockwaveNN commented on #270
@RomaricMollard Thanks. We able to reproduce it. Yes, this is a bug

[2018-04-06 10:26] ShockwaveNN commented on #194
5.1.0 was released, closing bug

[2018-04-06 10:26] #194 closed

[2018-04-06 10:31] ShockwaveNN commented on #177
Closing since no activity

[2018-04-06 10:31] #177 closed

[2018-04-06 10:32] ShockwaveNN commented on #172
5.1.0 released and issue should be fixed

[2018-04-06 10:32] #172 closed

[2018-04-06 10:38] ShockwaveNN commented on #157
Closing since fixed in 5.1.0

[2018-04-06 10:38] #157 closed

[2018-04-06 10:41] ShockwaveNN commented on #131
Closing since no activity

[2018-04-06 10:41] #131 closed

[2018-04-06 10:41] ShockwaveNN commented on #127
Closing since no activity

[2018-04-06 10:41] #127 closed

[2018-04-06 10:44] ShockwaveNN commented on #123
Both files opens fine in 5.1.1, so closing bug

[2018-04-06 10:44] #123 closed

[2018-04-06 11:03] datvm opened #272 "Document Server suddenly timed out?"
Hi,

I have installed Document Server on my server successfully. Recently however we cannot use it anymore. I tried accessing http://localhost/ on the server, after a very long time, the Url is redirected to http://localhost/welcome/ with the timeout message:

504 Gateway Time-out
nginx

I have tried to restart the server. How can I troubleshoot this problem?

RAM and CPU stats are good. Nothing s

[2018-04-06 11:03] ShockwaveNN commented on #122
Issue fixed in 5.1.0 so closing it

[2018-04-06 11:03] #122 closed

[2018-04-06 11:06] ShockwaveNN commented on #104
Closing since no activity

[2018-04-06 11:06] #104 closed

[2018-04-06 11:08] ShockwaveNN commented on #53
Clsoing it in favor of https://github.com/ONLYOFFICE/DocumentServer/issues/152

[2018-04-06 11:08] #53 closed

[2018-04-06 11:09] ShockwaveNN commented on #37
Closing since 5.1.0 released

[2018-04-06 11:09] #37 closed

[2018-04-06 12:31] konfetov opened #273 "DocumentServer 5.1.1 cannot be installed in Windows"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Installation of DocumentServer 5.1.1 requires installation of Visual C++ 2015 Redistributable Packages but the latest version of Visual C++ 2015 Redistr. Pack (Update 3) is already installed.
![onlyoffice-visuall c redistr](https://user-images.githubusercontent.com/3183799/38421303-5a4e9f08-39af-11e8-8

[2018-04-06 13:11] ShockwaveNN commented on #120
Tryed to reproduce it again, now there is trobules with compilation of v8 under gcc-6.x, see WIP Docker at https://github.com/onlyoffice-testing-robot/documentserver-from-source-build/pull/9

[2018-04-06 14:11] HellRoad commented on #273
Thank for feedback
We are working on this bug. I think this fix will be in the next update.

[2018-04-07 12:34] Nils160988 opened #274 "Post-Install Crash on Upgrade to 5.1.1-23 at Ubuntu 16.04"
After upgrade to version 5.1.1-23, the post-install script crashes after the line
Generating AllFonts.js, please wait...Done

Edit: Coming from Version 5.1.0-115

**What is the expected behavior?**
Smooth upgrade

**Operating System:**
Ubuntu 16.04 LTS
on vServer with Kernel 4.4.

Does anybody else see this issue? Any suggestions how to workaround?

[2018-04-08 11:25] wouterverduin opened #275 "error connection refused after install"
i just installed only office document server by use of the documentation (https://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx)

However: i cant acces it through my browser, neither can i remove it. I was running an instance of home assistant aswell on the same VM, which i cant acces through browser anymore either.

I tried removing it by using sudo apt-get remove onlyof

[2018-04-09 07:14] ShockwaveNN commented on #274
What is the error?

[2018-04-09 07:37] Nils160988 commented on #274
It gives

dpkg: error processing package onlyoffice-documentserver (--configure)
subprocess installed post-installation script returned error exit status 1

and then stops.

[2018-04-09 07:45] ShockwaveNN commented on #274
May be duplicate of https://github.com/ONLYOFFICE/DocumentServer/issues/166
It's a known problem with upgrade process so strongly advice use `docker` images or perform clean install

[2018-04-09 11:30] ArkaineHeinlein opened #277 "Time Tracking "Invalid time format""
**Do you want to request a *feature* or report a *bug*?**
BUG
**What is the current behavior?**
Time tracking in projet = Invalid time format
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Project -> Time tracking -> New time tracking.

**What is the expected behavior?**
When I notice a time less than 1:00 I get the follow

[2018-04-09 11:36] ShockwaveNN commented on #277
Seems this is CommunityServer bug, not DocumentServer. Please duplicate it in https://github.com/ONLYOFFICE/CommunityServer/issues

[2018-04-09 11:36] #277 closed

[2018-04-09 11:46] ArkaineHeinlein commented on #277
Thx i do tit ;)

[2018-04-09 13:56] falkowich commented on #270
We see the same problem here on the docker container.

[2018-04-09 13:57] ShockwaveNN commented on #270
@falkowich It will be fixed in 5.1.2

[2018-04-09 13:59] denisnone commented on #74
Hello,
How about Paste in filtered data? Any progress on that?

[2018-04-10 12:25] juergengp opened #278 "No package onlyoffice-documentserver available"
### Hello,  i try to install the documentoserver on centos 7
The installation does not work.
I used following description:
https://helpcenter.onlyoffice.com/server/linux/document/linux-installation-centos.aspx

when doing `sudo yum install onlyoffice-documentserver`
I get the error:
[code]
Can you please help me with that ?
Thank You

**Do you want to request a *feature* or report a *bug*?**

**Wh

[2018-04-10 15:11] ShockwaveNN commented on #278
Problem should be fixed by now, try
[code]

[2018-04-10 15:11] #278 closed

[2018-04-11 09:47] y0va opened #279 "Announcements of releases"
As onlyoffice spreadsheet editor  became unusable by this bug: https://github.com/ONLYOFFICE/DocumentServer/issues/270 I'd like to get a notification of a new release. Haven't found documentation about that. Is there a RSS feed, or mailing list about that?

[2018-04-11 10:02] ShockwaveNN commented on #279
Github has ATOM feed for releases
https://github.com/onlyoffice/documentserver/releases.atom

[2018-04-11 10:02] #279 closed

[2018-04-11 13:04] y0va opened #280 "Behaviour of "save" doesn't meet expectations"
This is in the spreadsheeteditor on Documentserver 5.1.2 on Nextcloud 13.0.1

If I click on "save" in the file menu nothing happens on the server file system. For stability reasons I would have expected nextcloud to create a new version of that document and SAVE that on the file system.

[2018-04-11 13:37] ShockwaveNN commented on #280
Please, duplicate your newtcloud/owncloud related problem in https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues

[2018-04-11 14:26] ShockwaveNN commented on #280
Seems this is a duplicate of https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/116

[2018-04-11 14:26] #280 closed

[2018-04-11 19:04] #274 closed

[2018-04-12 11:37] ant1freeze opened #281 "Copy/paste doesn't work more than 2 time in .xlsx"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
I open file .xlsx, copy (ctrl+C or by right click) anything field on the sheet, then paste (ctrl+V or by right click) it in another field on the same sheet. It is possible one or two times. On the third time pasting doesn't work. Type text doesn't work too.
But if i will copy/paste/type from field above

[2018-04-12 11:43] ShockwaveNN commented on #281
Версия 9.6.1.627

This is a version of CommunityServer, not DocumentServer

[2018-04-12 14:00] ant1freeze commented on #281
Hm. I installed it from scrypt:

https://helpcenter.onlyoffice.com/ru/server/docker/opensource/opensource-script-installation.aspx?_ga=2.185898025.1416797181.1523541281-377350466.1523358949

I view only version of community server, sorry.
If you tell me how can i view version of document server, i will do it.

[2018-04-12 14:47] ant1freeze commented on #281
I have version 5.1.1 CE

[2018-04-16 11:44] vishalv26 opened #282 "I was trying to open excel life with 22000 rows and it says "An error has occured while opening the file" Small files get opened in no time. seems there is problem in loading big files"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
I was trying to open excel life with 22000 rows and it says "An error has occured while opening the file"
Small files get opened in no time. seems there is problem in loading big files
![2018-04-16 17_08_33-fao csv - corient cdrive](https://user-images.githubusercontent.com/22151336/38807034-b8f69f7a-41

[2018-04-16 12:28] ShockwaveNN commented on #282
This file opens fine for me on Documentserver 5.1.2 CE
What are the specs of server? I used DigitalOcean 2GB instance and everything is good.
You can also look to logs (`/var/log/onlyoffice` inside container for any errors)

[2018-04-16 13:58] dstaykov commented on #261
After Upgrade from 5.0.7-38 to 5.1.2-9 on Centos 7 the symlinks are missing in /etc/nginx/conf.d/. I had to run
documentserver-configure.sh
I also had to reconfigure https connection do documentserver. On the web page everything looks fine BUT, when I try to connect it with OwnCloud plugin in converter/out.log says:
onlyoffice ;code:UNABLE_TO_VERIFY_LEAF_SIGNATURE;connect:undefined;(id=conv_check_

[2018-04-16 17:43] Larskluken commented on #281
I'm running 5.1.0 in a docker on Freenas. Do anyone know how I can update onlyoffice in docker?

[2018-04-17 08:03] omkarnathsingh commented on #202
I have custom built nginx from source, I am unable to setup document-server.

[2018-04-17 09:33] agolybev commented on #202
Hi @omkarnathsingh, You could  install document-server without dependency, or build it from source code too.

[2018-04-17 10:11] omkarnathsingh commented on #202
I tried installing from .deb file as given in releases. It still asks for nginx-extras dependency. Will it work if I add nginx-extra module in my custom nginx while configuring it?

[2018-04-17 10:58] agolybev commented on #202
@omkarnathsingh,  you have to add `ngx_http_secure_link_module` for nginx. It is not built by default, it should be enabled with the `--with-http_secure_link_module` configuration parameter. See details about this module [here](https://nginx.ru/en/docs/http/ngx_http_secure_link_module.html).

[2018-04-17 11:33] omkarnathsingh commented on #202
@agolybev Yes. I got to know about this module as per your information here https://github.com/ONLYOFFICE/DocumentServer/issues/202#issuecomment-344900113 , I have enabled it too. But the problem is the same. .deb file is hardcoded to get the dependency of nginx-extras making problem for me. Should I build from code? Is that the only option left.?

[2018-04-17 13:46] vishalv26 commented on #282
I upgraded my instance for 2 gb still no luck

[2018-04-17 14:06] ShockwaveNN commented on #282
You should look for any errors in log files

[2018-04-17 23:15] KimTheFirst opened #283 "Error occurred in the document service: Invalid Token"
**Do you want to request a *feature* or report a *bug*?**
*bug*
Or maybe I'm being stupid.

**What is the current behavior?**
It connects without JWT, but this is obviously very insecure. After attempting to enable JWT in nextcloud by applying the configuration methods detailed here: https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/45

Nextcloud will provide the error message "invalid toke

[2018-04-18 08:26] #282 closed

[2018-04-19 06:08] omkarnathsingh commented on #202
@agolybev Thanks a lot. It helped and worked for me. :)

[2018-04-19 06:11] omkarnathsingh commented on #202
So, this issue can be closed now (I feel), as installation from .deb package is working in two ways.
1. Ignore dependency of nginx-extras
2. Downgrade custom nginx to 1.10.3 and use.

[2018-04-19 06:41] teacupx commented on #152
@ShockwaveNN : Is there at least some place where you can get the source for your .deb packages, so we can use them as a base for building arm debs?

[2018-04-19 08:15] ShockwaveNN commented on #152
@teacupx Sorry, source of deb files currently in private repo, since it contain some private information.
But you can extract files by using `dpkg-deb -R onlyoffice-documentserver_amd64.deb extracted`,  and have access to `postinst` and other files

[2018-04-19 12:46] agolybev commented on #202
Hi @omkarnathsingh, thank you for patience. I'm going to change deb dependency from `nginx-extras` to  `nginx`. It will be solution of this issue. But first I have to invent way to escape using `ngx_http_secure_link_module`.

[2018-04-24 07:39] BoYangZuo opened #284 "it's to slowly to loading onlyOffice in a app。anyway to fix this?"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Did this work in previous versions of DocumentServer?**

**DocumentServer version:**

**Operating System:**

**Browser version:**

[2018-04-24 08:34] ShockwaveNN commented on #284
Please fill all the field and explain your problem in more details

[2018-04-24 08:34] #284 closed

[2018-04-24 13:04] devwald opened #285 "Debian 9 Installation onlyoffice-documentserver crash"
**Do you want to request a *feature* or report a *bug*?**
a bug
**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Fresh install
My configuration :

OS     : Debian 9.4 amd64
Kernel : 3.16.0-5-amd64
CPU    : 2x AMD Opteron(tm) Processor 6376
Mem    : 7.22 GB

**What is the expected behavior?*

[2018-04-24 13:28] devwald commented on #285
Thanks for answer. How can i do for having log with /var/lib/dpkg/info/onlyoffice-documentserver.postinst ?

[2018-04-24 13:33] ShockwaveNN commented on #285
@devwald you can use this answer https://serverfault.com/a/77819/98467

[2018-04-24 13:56] devwald commented on #285
Ok thanks.

I have this :
`s_sc@v-dev-fw\ /var/lib/dpkg/info  $sh -x /var/lib/dpkg/info/onlyoffice-documentserver.postinst configure
+ set -e
+ . /usr/share/debconf/confmodule
+ [ !  ]
+ PERL_DL_NONLAZY=1
+ export PERL_DL_NONLAZY
+ [  ]
+ exec /usr/share/debconf/frontend /var/lib/dpkg/info/onlyoffice-documentserver.postinst configure
^Z
[1]+  Stopped                 sh -x /var/lib/dpkg/info/onlyof

[2018-04-24 13:56] devwald commented on #285
Ok thanks.

This is the result :
`s_sc@v-dev-fw\ /var/lib/dpkg/info  $sh -x /var/lib/dpkg/info/onlyoffice-documentserver.postinst configure
+ set -e
+ . /usr/share/debconf/confmodule
+ [ !  ]
+ PERL_DL_NONLAZY=1
+ export PERL_DL_NONLAZY
+ [  ]
+ exec /usr/share/debconf/frontend /var/lib/dpkg/info/onlyoffice-documentserver.postinst configure
^Z
[1]+  Stopped                 sh -x /var/lib/dpkg/info

[2018-04-24 13:57] devwald commented on #285
Ok thanks.

This is the result :

[code]

[2018-04-24 14:10] ShockwaveNN commented on #285
@devwald try to install `json` via `npm install json  -g`

[2018-04-24 14:25] devwald commented on #285
It's OK :
`root@v-dev-fw\ /home/wald_f  $npm config set proxy http://wwwcache.uhb.fr:8080
root@v-dev-fw\ /home/wald_f  $npm config set https-proxy http://wwwcache.uhb.fr:8080
root@v-dev-fw\ /home/wald_f  $npm install json -g
/usr/bin/json -> /usr/lib/node_modules/json/lib/json.js
/usr/lib
└── json@9.0.6 `

And there is no error now when i run sh -x /var/lib/dpkg/info/onlyoffice-documentserver.post

[2018-04-24 14:26] #285 closed

[2018-04-25 01:58] BoYangZuo commented on #284
I have access to onlyOffice in the app. Load documents through UIWebView. However, each loading time is very long. Even if the network is very good, a 15KB word document needs to open in an average of 2 to 3 minutes. why is that? Is there a solution?

[2018-04-25 04:53] chaq094 opened #286 ""Subscript" shortcut overlap with "zoom in" shortcut."
Both subscript mode and zoom in function are triggered when pressing Crtl + Plus sign (+). I suggest changing the zoom in/out shortcut.

[2018-04-25 06:09] #286 closed

[2018-04-25 06:55] ShockwaveNN commented on #284
You still not filled any of fields. I'm not sure if this desktop, or mobile version. Not to mention versions

[2018-04-25 07:34] ideal2545 commented on #79
Has there been any movement on this, everyone over at FreeNAS would be really happy.

[2018-04-25 07:45] ShockwaveNN commented on #79
@ideal2545 Sorry, currently this is not a high priority task, so no any major progress

[2018-04-25 08:25] raphson93 commented on #261
is the problem resolve ?
should we close this issue ?

[2018-04-25 08:31] ShockwaveNN commented on #261
@raphson93 Yeah, we updated instruction at https://helpcenter.onlyoffice.com/server/linux/document/linux-installation-centos.aspx

[2018-04-25 08:31] #261 closed

[2018-04-25 08:35] #260 closed

[2018-04-25 09:30] pi-xel opened #287 "Bug with adding comments on text over page boundaries"
**Do you want to request a *feature* or report a *bug*?**

bug

**What is the current behavior?**

When adding a comment on some text snippet by selecting the snipped, right-click, add comment and if the text snippet goes over a page boundary (i.e. over two different pages), the text marked alongside the comment is not only the previously selected, but everything until the end of the document is m

[2018-04-25 11:07] pi-xel commented on #287
Note: the bug seems to appear only in the graphical representation of the document, if I download the doc later via nextcloud and open it in libreoffice writer the comment correctly relates to the previously selected text snipped.

[2018-04-25 13:34] pi-xel commented on #287
@ShockwaveNN Thanks for the info & quick reply.

[2018-04-25 14:15] teacupx commented on #152
@pi-xel Thank you very much, I had noticed about the memory leak, but other commentaries made me think that it was just a bug with certain files and worked for the most.

Your commentary comes in very timely, I also gave up about trying to compile Collabora in arm a couple minutes ago 😃 . Let's hope we can get some online office suite working for arm soon, there are lots of people using arm machin

[2018-04-30 06:43] raphson93 commented on #273
hi is this problem resolved for Document Server version 5.1.3 ?

[2018-04-30 06:45] raphson93 commented on #272
hi, you may close this issue if resolved.
thanks

[2018-05-02 13:05] TheMrApostel opened #292 "Filters are only used partially"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
1. Select a filter
2. The filter is not applied to your spreedsheet.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
[2018_02_15_PM2-05-D03_ToDo-Liste_02032018.xlsx](https://github.com/ONLYOFFICE/DocumentServer/files/1967307/2018

[2018-05-03 07:47] Rita-Bubnova commented on #292
Hello, @TheMrApostel.
Thank you. I can confirm - this is a bug, issue 37618 in our internal issue tracker.

[2018-05-03 08:48] HellRoad commented on #273
This problem resolved, but this fix was not included in version 5.1.3
Think that in bug fix 5.1.4 or major update

[2018-05-04 11:07] KAZMAZHANG opened #293 "Can't apply justified to chinese in 5.1.3."
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
Can't apply justified to chinese in 5.1.3. It's always left-aligned.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
![0](https://user-images.githubusercontent.com/18349061/39624834-62545722-4fcd-11e8-9656-7909c9da8e60.jpg)

**

[2018-05-04 11:08] KAZMAZHANG commented on #293
This is the document:
[边城.docx](https://github.com/ONLYOFFICE/DocumentServer/files/1974153/default.docx)

[2018-05-04 14:07] Rita-Bubnova commented on #293
Hello, @KAZMAZHANG.
Thank you. I can confirm - this is a bug, issue 37659 in our internal issue tracker.

[2018-05-07 07:44] TheMrApostel commented on #292
Hello @Rita-Bubnova,

many thanks for your answer. 👍
If you need me to test some changes - just reply :-)

[2018-05-10 10:43] garthh commented on #265
Same error, just take a look at "/etc/onlyoffice/documentserver", after update, I saw here a "default.json.dpkg-dist". Remove your old "default.json" (or rename it), and rename "default.json.dpkg-dist" to "default.json" and restart supervisor... and, onlyoffice is back !

[2018-05-10 10:44] garthh commented on #265
Same error, just take a look at "/etc/onlyoffice/documentserver", after update, I saw here a "default.json.dpkg-dist". Remove your old "default.json" (or rename it), and rename "default.json.dpkg-dist" to "default.json" and restart supervisor... and, onlyoffice is back !

[2018-05-11 09:43] vaheed commented on #19
After 2 years !!!

[2018-05-11 14:52] hamslicejumbomice opened #295 "Document Server Connection Issue"
Hi guys I'm looking for some feedback on why this isn't working.

Currently I have my ONLYOFFICE document server running on a Windows 10 build.  I followed these exact instructions for my installation: https://helpcenter.onlyoffice.com/server/windows/document/install-office-apps.aspx
I have an Owncloud server running on an Ubuntu 18.04 build, newest version, everything up to date. The server is be

[2018-05-11 15:03] hamslicejumbomice commented on #264
Same problem, Did you ever figure it out?

What does your log file show?

[2018-05-11 15:05] quelo1972 commented on #264
I solved usin letsencrypt!

[2018-05-11 15:50] hamslicejumbomice commented on #264
I'd be happy is you shared more about how you fixed it exactly :)

[2018-05-11 15:52] ShockwaveNN commented on #295
@hamslicejumbomice In your logs you have
[code]
Seems you entered incorrect password for postgres server

[2018-05-11 15:59] hamslicejumbomice commented on #295
Yes, that was a an issue that I had solved earlier but I was wanting you to look at the more recent logs

These are the error messages I get from trying to connect the two servers

[2018-05-10 13:05:31.638] [ERROR] nodeJS - sqlQuery error sqlCommand: SELECT * FROM merge_db('conv_check_1458766670_docx:
error: function merge_db(unknown, unknown, unknown, unknown, unknown, unknown, unknown, unknown)

[2018-05-11 16:05] hamslicejumbomice commented on #295
It seems to be trying to run the "SELECT * FROM merge_db" sql command but its failing. I looked at my database and there isn't even a merge_db table so of course it's going to error out

[2018-05-11 16:08] ShockwaveNN commented on #295
@hamslicejumbomice I'm not good at Windows servers, maybe your version of postres server is too old? Or try to drop DB for onlyoffice and reinit it

[2018-05-11 16:14] hamslicejumbomice commented on #295
I am running 9.6 the next and newest version would be 10

[2018-05-11 17:00] agolybev commented on #264
Hi @hamslicejumbomice? Do you use self-signed certificate?

[2018-05-11 17:05] quelo1972 commented on #264
No letsencrypt :)

[2018-05-14 09:59] agolybev commented on #264
Hi @quelo1972, I think NextCloud server can't validate documentserver SSL certificate. Could you check NextCloud log for SSL error?

[2018-05-14 10:32] quelo1972 commented on #264
I solved using letsencrypt :)

[2018-05-14 10:46] agolybev commented on #264
@quelo1972, I'm sorry, I wanted to write it to @hamslicejumbomice.
But how did you fix problem? By letsencrypt certificate? And what kind of certificate did you use before?

[2018-05-14 10:48] quelo1972 commented on #264
Before I used self signed certificate. I solved by letsencrypt.

[2018-05-14 10:50] agolybev commented on #264
@quelo1972, thanks a lot for reply.  I think the issue may be closed.

[2018-05-14 10:56] #264 closed

[2018-05-14 14:27] hamslicejumbomice commented on #295
Hi, I updated my postgresql to 10 and now i get the following errors in my log file:

[2018-05-14 09:26:21.893] [ERROR] nodeJS - sqlQuery error sqlCommand: INSERT INTO task_result (id, status, status_info, :
error: relation "task_result" does not exist
    at Connection.parseE (C:\Program Files\ONLYOFFICE\DocumentServer\server\docservice\node_modules\pg\lib\connection.js:567:11)
    at Connection.

[2018-05-14 14:29] ShockwaveNN commented on #295
@hamslicejumbomice did you drop table and reinstall documentserver?

[2018-05-14 14:34] ShockwaveNN commented on #295
@hamslicejumbomice yeah, try to remove onlyoffice-documentserver, drop base and install it again

[2018-05-14 14:41] hamslicejumbomice commented on #295
I uninstalled the document server from my computer, dropped the database, then I reinstalled document server and created the database again. I got the same error listed above

[2018-05-14 14:54] ShockwaveNN commented on #295
@hamslicejumbomice sad to hear, I contacted develop team, maybe they have some ideas

[2018-05-14 14:57] hamslicejumbomice commented on #295
Thank you! I appreciate your willingness to help. I am just clueless what could be going wrong, these log files don't give me much information it seems

[2018-05-14 15:25] ralikhan opened #296 "nodejs and libcurl3 dependency problem on ubuntu 18.04"
Hello, good afternoon. I was trying to install Onlyoffice Document Server in Ubuntu server 18.04. Time to install Documentserver requires   **onlyoffice-documentserver : Depends: nodejs (< 7.0.0) but 8.10.0~dfsg-2 is to be installed**. But it does not let me install node js 6 on the ubuntu server 18.04.
Thank you very much

![1](https://user-images.githubusercontent.com/39272051/40006591-132d5fec-

[2018-05-14 15:30] ShockwaveNN commented on #296
@ralikhan Thanks, it's a known problem and will be fixed in `5.1.4`

[2018-05-14 15:31] ralikhan commented on #296
![screenshot 2](https://user-images.githubusercontent.com/39272051/40007275-9cd4d346-579c-11e8-9504-3f747b5e90ec.png)
![2](https://user-images.githubusercontent.com/39272051/40007276-9cf4e1c2-579c-11e8-8778-7620b39781b8.png)

[2018-05-14 15:34] ralikhan commented on #296
by default I installed node js 8 and it does not let me install another version.
@ShockwaveNN Thanks

[2018-05-14 15:35] hamslicejumbomice commented on #295
Hi @agolybev, So I uninstalled documentserver again and I'm sitting here with the setup program waiting for it to run again. I'm just confused on where I type those parameters in at?

[2018-05-14 16:38] hamslicejumbomice commented on #295
Okay so I reinstalled the document server again and it worked!! It must've been a bad install after all but that was like the sixth time I installed it!

However I'm going to be doing this again so before I close this ticket I still want to know how I can get that install file @agolybev !!

[2018-05-15 02:12] raphson93 opened #297 "librabbitmq-tools-0.5.2-1.el7.x86_64"
hi, is that possible to update the librabbitmq-tools-0.5.2-1.el7.x86_64 to latest version ?

[2018-05-15 08:37] ShockwaveNN commented on #297
@raphson93 hi, I looked at `rpm/requires.spec` and there is no specific version of `librabbitmq-tools` required. Maybe some of dependencies require older version

[2018-05-15 08:56] ShockwaveNN commented on #297
@raphson93 Just checked
packaged `librabbitmq-tools` is not included in default centos repo
It's included in latest `epel` repo
And `librabbitmq-tools` is 0.5.2-1.el7 in `epel-release` v 7-11, you should contact epel team if you have some question about version of `librabbitmq-tools`

[2018-05-15 08:56] #297 closed

[2018-05-15 09:13] raphson93 commented on #297
@ShockwaveNN hi, i was planning to uninstall the package and reinstall it. But the remove command show the output below:
![image](https://user-images.githubusercontent.com/19220265/40047872-42f1ff44-5863-11e8-91f9-3247a575ba8f.png)

Will it cause any issue to the document server if librabbitmq-tools was removed ?

[2018-05-15 09:17] ShockwaveNN commented on #297
@raphson93 I dont think so, it should be installed as dependency in install stage

[2018-05-15 09:17] raphson93 commented on #297
@ShockwaveNN alright thanks

[2018-05-15 09:25] raphson93 commented on #297
@ShockwaveNN ye i was plan to remove the package but from the image it did remove the document server together.. this is not the output that I expected.

[2018-05-15 09:26] raphson93 commented on #297
@ShockwaveNN i think for the next release (5.1.4) the development team should update the librabbitmq-tools to 0.8.02.

[2018-05-15 09:27] ShockwaveNN commented on #297
@raphson93 As I said - `librabbitmq-tools` installed from epel repo and we have no plans to host our own newer version of this. As soon of epel update `librabbitmq-tools` - we will use it

[2018-05-16 12:41] andyl333 commented on #296
@ralikhan and @ShockwaveNN : How did you solve the problem? I have exactly the same problem!

[2018-05-16 12:43] ShockwaveNN commented on #296
@andyl333 yeah, we removed those dependenceies and it will be fixed in 5.1.4

[2018-05-16 12:46] andyl333 commented on #296
@ShockwaveNN do you know already, when 5.1.4 will be released?

[2018-05-16 12:49] ShockwaveNN commented on #296
@andyl333 in next several weeks

[2018-05-16 12:49] andyl333 commented on #296
@ShockwaveNN thanks a lot!

[2018-05-16 14:02] ralikhan commented on #296
Thank you very much

[2018-05-16 14:29] ShockwaveNN commented on #257
Closing due no activity

[2018-05-16 14:29] #257 closed

[2018-05-16 17:36] ccruson opened #298 "Api.CreateParagraph() always has a blank space " " after it"
Maybe a bug

When I call **window.Asc.plugin.executeMethod("InsertAndReplaceContentControls", [obj]);**
with a script like this:
[code]

the rendered output always has a blank space at the end of it. So if this were replacing something like this: **"contentControl,"**
It always renders like this: **"content ,"**

Is there anyway to remove that last space? I have tried many of the paragraph styles,

[2018-05-16 23:44] ccruson commented on #298
I figured it out
`oParagraph.SetSpacingAfter(0);\r\n\`
Thanks

[2018-05-16 23:44] #298 closed

[2018-05-17 02:29] hyman102 opened #299 "Open the word document in iPhone and enter Chinese messy code"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Did this work in previous versions of DocumentServer?**

**DocumentServer version:**

**Operating System:**

**Browser version:**

[2018-05-17 03:08] hyman102 commented on #299
The DocumentServer version is the latest

[2018-05-17 03:08] hyman102 commented on #299
The DocumentServer version is the latest

[2018-05-17 07:17] ShockwaveNN commented on #299
@hyman102 could you attach screenshot?

[2018-05-17 07:34] hyman102 commented on #299
![image](https://user-images.githubusercontent.com/39356945/40162861-c70a44c8-59e7-11e8-95d5-6e43cf0a6287.png)

[2018-05-17 07:34] hyman102 commented on #299
All of the iPhone model tests are the same

[2018-05-17 07:35] hyman102 commented on #299
But we tested normal in MAC

[2018-05-17 07:38] ShockwaveNN commented on #299
Could you attach this document?

[2018-05-17 07:40] barotashish commented on #271
I am getting very similar error after upgrading from Ubuntu-17.10 to Ubuntu-18.04

See the below log messages :-

ashish@ashish-barot:~$ sudo apt-get upgrade
[sudo] password for ashish:
Reading package lists... Done
Building dependency tree
Reading state information... Done
Calculating upgrade... Done
The following packages will be upgraded:
  curl gnome-keyring gnome-keyring-pkcs11 libcurl3-gnutl

[2018-05-17 07:49] ShockwaveNN commented on #271
@barotashish I see no mention of `onlyoffice` in your errors. BTW we release 5.1.4 in several weeks and it will compatible with Ubuntu 18.04

[2018-05-17 08:00] hyman102 commented on #299
[piwik_install.docx](https://github.com/ONLYOFFICE/DocumentServer/files/2012167/piwik_install.docx)

[2018-05-17 08:10] hyman102 commented on #299
We are using the iPhone Browser Test

[2018-05-17 08:42] ShockwaveNN commented on #299
@hyman102 those symbols `➍➏➍➒➒➍➒➍➏➍➒➍➒➒` are stored in document, could you record video how you input them on mobile

[2018-05-17 09:11] hyman102 commented on #299
How do I send the video to you

[2018-05-17 09:11] hyman102 commented on #299
The video format is mp4

[2018-05-17 09:13] ShockwaveNN commented on #299
@hyman102 you can zip it and attach here

[2018-05-17 09:14] hyman102 commented on #299
[video.zip](https://github.com/ONLYOFFICE/DocumentServer/files/2012481/video.zip)

[2018-05-17 09:19] ShockwaveNN commented on #299
@hyman102 Thanks, this is strange, we looking into it

[2018-05-17 09:25] ShockwaveNN opened #300 "Prohibit installation of several version of DocumentServer on same host"
Currently there is possible to install all there version of documentserver package on same host (`onlyoffice-documentserver`, `onlyoffice-documentserver-ie`, `onlyoffice-documentserver-de`), but result will be messed up.

Need to prohibit installation on dpkg-level

**DocumentServer version:** 5.1.3

**Operating System:** Ubuntu 18.04

[2018-05-17 11:30] ShockwaveNN commented on #258
Closing due no activity

[2018-05-17 11:30] #258 closed

[2018-05-17 11:32] ShockwaveNN commented on #242
Issue is resolved and not reproduce on `onlyoffice-documentserver` 5.1.3

[2018-05-17 11:32] #242 closed

[2018-05-17 11:37] ShockwaveNN commented on #20
Table of content was added in 5.1.0

[2018-05-17 11:37] #20 closed

[2018-05-17 11:47] ShockwaveNN commented on #51
Closing due no activity

[2018-05-17 11:47] #51 closed

[2018-05-17 11:51] ShockwaveNN commented on #69
@chicol if issue is still actual - could you attach file?

[2018-05-17 11:52] ShockwaveNN commented on #77
Closing since issue should be not actual, supervisor seems fixed it

[2018-05-17 11:52] #77 closed

[2018-05-17 14:04] ShockwaveNN commented on #299
@hyman102 yeah, I can confirm - this is a bug, issue 37766 in our private bug tracker

[2018-05-18 08:42] timm2k opened #301 "copy & paste text with comments from Word to OnlyOffice"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If I copy a text snippet with a comment inside from Word 2016 into a OnlyOffice DocumentServer-ie document the comment is converted into a hyperlink with something like a footer. The hyperlink opens a new document tab with an infinity loop of "ONLYOFFICE loading..."

**If the current behavior is a bug,

[2018-05-18 09:45] Rita-Bubnova commented on #301
Hello, @timm2k.
Thank you. I can confirm - this is a bug, issue 37770 in our internal issue tracker.

[2018-05-18 11:52] Pisoko opened #302 ""Unknown error" while trying to "download as""
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
"Unknown error" while trying to "download as" PDF or ODT or ... or trying to print the document
Otherwise there are no problems and I'm very happy with onlyoffice!

**Did this work in previous versions of DocumentServer?**
Yes - Document Server 5.1.3 CE + Nextcloud 13.0.2 + OnlyOfficeApp 1.3.0

**Opera

[2018-05-18 13:54] HellRoad commented on #302
I tried to repeat your testcase but I didn't get it on the release version 5.1.3
This problem is repeated somewhere else or is it repeated only on one file?
If the problem is in the file, then send it
Thanks for your Feedback

[2018-05-18 16:10] jkolo opened #303 "WORKDAY function broken with day-offset greater then 1"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
When you use the WORKDAY function (Ex. WORKDAY(B3,5,Holidays) with day-offset value greater then 1
function return holiday day and skip day after holiday day.
![image](https://user-images.githubusercontent.com/1894746/40245387-d49247e2-5ac5-11e8-9a26-80ba1576ede4.png)

**If the current behavior is a bu

[2018-05-18 18:29] jkolo commented on #303
Sample correct implementation: http://jsfiddle.net/mposr3mp/

[2018-05-19 15:10] onny opened #304 "nodehun dependency of spellchecker fails to build with nodejs 10"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
DocumentServer fails to build. It stops with an error when trying to build nodehun nodejs dependency for the spellchecker.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
This error occours only when nodejs 10 or higher is inst

[2018-05-20 10:33] Wulf commented on #304
Related to [nodehun !63](https://github.com/Wulf/nodehun/issues/63).

[2018-05-20 12:11] Wulf commented on #304
This should hopefully be resolved now!

[2018-05-21 08:33] ShockwaveNN commented on #299
@hyman102 I think it will be fixed in next major release, 5.2

[2018-05-21 09:03] hyman102 commented on #299
Is the current version 5.1.1?

[2018-05-21 09:05] ShockwaveNN commented on #299
@hyman102 5.1.3

[2018-05-21 09:06] hyman102 commented on #299
OK,thanks.

[2018-05-21 17:32] samjaninf opened #305 "Centos 7.5: librabbitmq-tools dep no longer valid?"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
onlyoffice-Document server fails to install citing a missing dependency.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Follow the directions at ```https://helpcenter.onlyoffice.com/server/linux/document/linux-installation-cen

[2018-05-22 01:41] raphson93 commented on #305
@samjaninf is librabbitmq-tools installed before the document server ?

[2018-05-22 07:44] ShockwaveNN commented on #305
Seems by https://community.nethserver.org/t/its-time-to-test-centos-7-5/9743/4 and `librabbitmq-0.8.0-2.el7` replaced it, ok we try to figure something out

[2018-05-22 07:48] raphson93 commented on #305
#297

[2018-05-22 10:05] loicBillon opened #306 "Timeout when using plugins"
Hello,

I have troubles with plugins like Youtube or cliparts, When I insert a youtube video, the spinner is still a long time on the screen, then I get a timeout on the documentserver out.log file.

Exemple with youtube, and with the photo editor :

[code]

I'm behind a corporate proxy and I'm not sure how it should be parametrized. I tried the following :
- set http_proxy and https_proxy environ

[2018-05-22 13:15] samjaninf commented on #305
@raphson93 No. Following the directions, librabbitmq-tools would get installed as a dependency of documentserver, but if you try to install it on this current version of CentOS that package does not exist inside the epel repo anymore. I thought about getting the package from elsewhere but it seemed easier to just use the debian install which worked flawlessly.

[2018-05-22 13:17] ShockwaveNN commented on #305
We removed dependency https://github.com/ONLYOFFICE/document-server-package/commit/3082096a9fb62088dcc1a54a6d9465d8349b7a61 in and it will be released as 5.1.4
@samjaninf btw we highly recommend using docker version, but if deb is ok for you - it's should be stable also

[2018-05-22 13:23] samjaninf commented on #305
Awesome! I looked at the docker version but as I was already running them off of oVirt it seems sort of overkill on the virtualization. So I just went with the CentOS version as just about all we use inhouse is CentOS.
But yeah the Debian version is working well for now as is.
Thanks!

[2018-05-22 13:51] Bschalck commented on #256
My solution was to define the host with local addres into /etc/hosts.
Not sure it is the solution here ....

[2018-05-22 13:57] Floflobel commented on #256
Not a solution for me, you use a docker for run onlyoffice. I run nextcloud on container and the container has the correct DNS for access to my onlyoffice.

[2018-05-24 02:26] JoeLucky opened #308 "xls file display abnormal"
Hi, I view this file on onlyoffice (the picture below, I add some shape to it), which is not the same as on PC.

![picture](https://github.com/JoeLucky/Practice/raw/master/xls%20problem/problem.png)

The file:
https://github.com/JoeLucky/Practice/raw/master/xls%20problem/the.xls

Thanks!

[2018-05-24 09:36] flaminestone commented on #308
Hello @JoeLucky. Yes, it is bug, thank you.
This is fix - https://github.com/ONLYOFFICE/core/commit/6d3761c20bac18990cb01feb353e7af54ad5659c
It will be released in 5.2

[2018-05-24 14:28] PiotrIr opened #309 "When opens particular excel document browser reports not enough memory"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
When opens particular excel document, browser reports not enough memory.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
open document (unfortunately I can't send it as it is confidential but it is quite big 5MB) with version 5

[2018-05-24 14:32] ShockwaveNN commented on #309
@PiotrIr could you remove confidential data from this doc and attach it? I don't think we able to detect this  bug without document

[2018-05-24 14:36] PiotrIr commented on #309
I understand but unfortunately is is impossible as whole document is confidential. I don't have now even version 5.1.3 to test  other documents...

[2018-05-24 14:49] ShockwaveNN commented on #309
@PiotrIr you can replace confidential data with text garbage, I think this will enough.
In other case I will close this issue since it can be a whole lot of reasons of this behaviour

[2018-05-24 14:55] PiotrIr commented on #309
Hi Pavel,

In this case you can close the case. Unfortunately the excel spreadsheet is very complex so it would take very long time to replace data. Perhaps somebody else will have similar issue in future and he will be able to send you the file.

[2018-05-25 00:56] zhuangzhijia opened #310 "recommended to reduce the number of fonts and optimize the loading speed"
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Did this work in previous versions of DocumentServer?** all

**DocumentServer version:**5.1.2

**Operating System:**server system：centos、client

[2018-05-25 08:45] JoeLucky opened #311 "cannot open xlsx file in mobile mode."
Hello, I new a xlsx file and put some art words to it. (No idea if it is the reason.) And view it on onlyoffice as mobile mode (Using chrome debugging tool). It shows below, loading with no end and show some error.

![picture](https://github.com/JoeLucky/Practice/raw/master/openErrorOnMobile/123.png)

The file:
https://github.com/JoeLucky/Practice/raw/master/openErrorOnMobile/openErrorOnMobile.xls

[2018-05-25 09:15] JoeLucky commented on #311
I add retrun at the abnormal, it can show the xlsx file, but I am not sure it will cause other problems or not.

![picture](https://github.com/JoeLucky/Practice/raw/master/openErrorOnMobile/my_solve.png)

Appreciate for your help.

[2018-05-25 10:21] nav-fess commented on #311
Thank you. I can confirm - this is a bug, issue 37824 in our internal issue tracker.

[2018-05-25 10:52] ShockwaveNN commented on #310
@zhuangzhijia a lot of fonts are added to be compatible with more documents in different languages

You can freely remove all unneded fonts from `/var/www/onlyoffice/documentserver/core-fonts` and run
`documentserver-generate-allfonts.sh` after that.
Do not forget to clear browser cache after that

[2018-05-25 10:52] #310 closed

[2018-05-25 12:37] ShockwaveNN commented on #305
5.1.4 released, this issue is fixed

[2018-05-25 12:37] #305 closed

[2018-05-26 09:41] Ke1i commented on #304
I guess this is the reason the spellchecker doesn't work in the latest version of ONLYOFFICE-DocumentServer-5.1.4.
Here are some files from /var/log/onlyoffice/documentserver/spellchecker/
[err.log](https://github.com/ONLYOFFICE/DocumentServer/files/2041478/err.log)
[out.log](https://github.com/ONLYOFFICE/DocumentServer/files/2041479/out.log)
Running Onlyoffice-DocumentServer on Ubuntu Server 18.0

[2018-05-26 10:15] Ke1i opened #312 "Spellchecker with nodejs 8, nodejs 10"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
The spellchecker fails to launch

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. Go to "Advanced settings" in an open document.
2. Check the "Spell checking" checkbox
3. Go back to the open document and type any misspelled w

[2018-05-28 09:30] Soundbytes opened #313 "Problem updating to v5.1.4-22 from the previous version (using the deb-installer)"
It seems there is a problem with the latest deb package when used to update an existing installation.
After the update I was not able to load any document using the nextcloud webui. Instead I got a lengthy load animation followed by an error message 'document could not be loaded' (or similar)
I had installed onlyoffice only two weeks ago using the official guide here: https://helpcenter.onlyoffice

[2018-05-28 09:45] ShockwaveNN commented on #313
See workaround at https://github.com/ONLYOFFICE/DocumentServer/issues/275#issuecomment-379657543

[2018-05-28 09:51] agolybev commented on #312
Hi @Ke1i, this issue caused by Node.js v8. Unfortunately, it's default version for Ubuntu 18.04.
To repair the spellchecker you have to rebuild its components.
First update npm:
[code]
Next, install develop packages
[code]
Third, move to spellcheker directory:
[code]
Stop documentserver services:
[code]
Remove installed spellchecker components
[code]
Build and install and spellchecker dependencies

[2018-05-28 13:01] ShockwaveNN commented on #296
5.1.4 released, closing issue

[2018-05-28 13:01] #296 closed

[2018-05-28 13:01] ShockwaveNN commented on #293
Fixed in 5.1.4

[2018-05-28 13:01] #293 closed

[2018-05-28 13:02] ShockwaveNN commented on #275
Closing due no responce

[2018-05-28 13:02] #275 closed

[2018-05-28 13:04] ShockwaveNN commented on #272
This ticket is being closed due to no response

[2018-05-28 13:04] #272 closed

[2018-05-28 13:05] ShockwaveNN commented on #266
This ticket is being closed due to no response

[2018-05-28 13:05] #266 closed

[2018-05-28 13:06] ShockwaveNN commented on #247
Fixed in 5.1.0

[2018-05-28 13:06] #247 closed

[2018-05-28 13:28] Soundbytes commented on #313
thanks for the reference. (although I am not sure how this relates to my problem.)
I have to admit I am a bit cautious now about using the deb package updater the next time around. Is there anything I can do on my side to make sure the update goes smoothly? How can I asses potential problems beforehand?
Fortunately I am still testing at the moment. However I want to go live soon and might have som

[2018-05-28 13:30] ShockwaveNN commented on #313
@Soundbytes we change update procedure on 5.2 in future, but common advice - use docker version, it's preferred type of distribution by our team

[2018-05-28 13:51] Soundbytes commented on #313
Thanks for the reassurance and for the advice. I am afraid I won't be able to switch to the docker version anytime soon. I am using a virtual server under Parallels Virtuozzo which does not support docker containers. I am quite happy that you are providung a deb installer and I truely hope you will be able to maintain this alternative installer in the future.
If I can be of any help with testing o

[2018-05-28 16:30] ITMaya opened #314 "Trouble after Distr upgrade OnlyOffice and Ubuntu 18.04"
Hi,

After upgrade from Ubuntu 14.04 to 18.04 I have trouble to have OnlyOffice-DocumentServer working.

When trying to install I keep having the following error:
dpkg: error processing package onlyoffice-documentserver (--configure):
"installed onlyoffice-documentserver package post-installation script subprocess returned error exit status 127"
Errors were encountered while processing:
 onlyoffic

[2018-05-28 16:46] Ke1i commented on #312
Thanks @agolybev. I'll try what you've suggested.

[2018-05-28 20:51] Ke1i commented on #312
Hey @agolybev.. I tried but I get the error below:

`keli@Keli:/$ sudo apt-get install build-essential git
Reading package lists... Done
Building dependency tree
Reading state information... Done
build-essential is already the newest version (12.4ubuntu1).
git is already the newest version (1:2.17.0-1ubuntu1).
0 upgraded, 0 newly installed, 0 to remove and 0 not upgraded.
keli@Keli:/$ cd /var/www/

[2018-05-28 21:05] Ke1i commented on #314
Hi @ITMaya..
I had trouble with `sudo dpkg-reconfigure onlyoffice-documentserver
` on Ubuntu Server 18.04 LTS and it turned out nginx was the culprit.
What does `sudo nginx -t`return?

[2018-05-28 21:17] ITMaya commented on #314
Hi @Ke1i ,

Thanks for your answer.

nginx -t returns:
# sudo nginx -t
nginx: the configuration file /etc/nginx/nginx.conf syntax is ok
nginx: configuration file /etc/nginx/nginx.conf test is successful

I had to manually create /var/log/onlyoffice/documentserver/ otherwise it would return an error.
I'm sure there is something to do with Nginx but can't figure out how to have it working properly.

[2018-05-29 05:52] Ke1i commented on #314
Maybe someone with a more technical background can help you solve this. Mine was a clean install and the errors I was getting had to do with nginx failing to start. I'm assuming you have a working nginx install.
Out of curiosity, whats the output of `sudo netstat -nltp | grep 80`?

[2018-05-29 06:15] Ke1i commented on #312
Fixed it!
I had to change the ownership of /var/www/onlyoffice/documentserver/server/SpellChecker/ from onlyoffice to keli (user) then run npm install (without sudo)
Spellchecker now works, thanks @agolybev
Here's the output.
[code]
![screenshot from 2018-05-29 09-13-04](https://user-images.githubusercontent.com/20503185/40640965-bf518de4-6320-11e8-93f2-bca1b44796dc.png)

[2018-05-29 07:15] ShockwaveNN commented on #314
@ITMaya try this

[2018-05-29 20:49] ITMaya commented on #314
Thank you Shockwave, I tried this already, it works to remove OnlyOffice-DocumentServer package but when I try to re-install it I get the following:

# apt-get install onlyoffice-documentserver
Reading package lists... Done
Building dependency tree
Reading state information... Done
The following NEW packages will be installed:
  onlyoffice-documentserver
0 upgraded, 1 newly installed, 0 to remove

[2018-05-30 07:30] ShockwaveNN commented on #314
@ITMaya try to run postint script via `bash /var/lib/dpkg/info/onlyoffice-documentserver-ie.postinst` and see actual error

[2018-05-30 09:33] ralikhan commented on #296
is solved. Thank you so much.
![image](https://user-images.githubusercontent.com/39272051/40712091-13f799d8-63fd-11e8-9414-f9b172698642.png)

[2018-05-30 09:34] ralikhan commented on #296
![image](https://user-images.githubusercontent.com/39272051/40712180-5a31f3bc-63fd-11e8-823f-3e29d2532a99.png)

[2018-05-30 13:39] ITMaya commented on #314
I don't have the postint script with -ie suffix.

If I run the one I have here is the result:

bash /var/lib/dpkg/info/onlyoffice-documentserver.postinst

Use of uninitialized value $action in string eq at /usr/share/debconf/frontend line 27.
postinst called with unknown argument `'

[2018-05-30 15:40] ITMaya commented on #314
Thank you for your quick reply. I upgraded npm and I still have the same exact issue.
I manage to have onlyoffice-documentserver uninstalled by updating /var/lib/dpkg/info/onlyoffice-documentserver.postrm

[code]

But then when I try to re-install it, it triggers another error:

json: error: ENOENT: no such file or directory, open '/etc/onlyoffice/documentserver/default.json'
dpkg: error processin

[2018-05-30 16:26] agolybev commented on #312
Hi @Ke1i , thank you for your patience!

[2018-05-30 18:06] jonathanpantall opened #315 "Spreadsheet Editor - Filtering and Sorting Issues"
**Do you want to request a *feature* or report a *bug*?**
Bug

**What is the current behavior?**
Filtering / Sorting in XLSX document via OnlyOffice editor is very slow and sometimes crashes page.
Also
Exporting the filtered / sorted data to XLSX and opening in Microsoft Excel and attempting to then sort the columns will crash program.

**If the current behavior is a bug, please provide the steps

[2018-05-31 08:29] ShockwaveNN commented on #314
@ITMaya try to backup and remove `/etc/onlyoffice` and `/var/www/onlyoffice/` dirs

[2018-05-31 10:08] Rita-Bubnova commented on #315
Hello, @jonathanpantall.
Your cases are bugs, issues 37874 and 37875 in our internal tracker problem.

[2018-05-31 15:13] ITMaya commented on #314
@ShockwaveNN not sure if it helps, since I deleted /var/www/onlyoffice it  never came back but /etc/onlyoffice always comes back.

I already tried removing these folders and it keeps failing with:

installed onlyoffice-documentserver package post-installation script subprocess returned error exit status 1
E: Sub-process /usr/bin/dpkg returned an error code (1)

[2018-05-31 15:15] ShockwaveNN commented on #314
@ITMaya `bash /var/lib/dpkg/info/onlyoffice-documentserver.postinst` return same erorr with `$action` as before?

[2018-05-31 15:51] ITMaya commented on #314
Yes it still does return the same message:

bash /var/lib/dpkg/info/onlyoffice-documentserver.postinst
Use of uninitialized value $action in string eq at /usr/share/debconf/frontend line 27.

[2018-06-01 07:54] ShockwaveNN commented on #314
@ITMaya is `json` util is presented on your system?
If not install it by `npm install -g json` - see https://www.npmjs.com/package/json

[2018-06-01 13:29] ITMaya commented on #314
@ShockwaveNN yes json is present in version 9.0.6.
I tried to re-install it but I still have the same error with $action while running the postinst file.

[2018-06-01 13:40] ShockwaveNN commented on #314
@ITMaya sorry, I'm out of ideas, check that postgres, redis and rabbitmq are running fine without any errors in logs.
Or try docker version :)

[2018-06-01 13:45] ITMaya commented on #314
@ShockwaveNN, ok thank you for your help anyway. All the mentioned services are up and running with no errors in logs.

I'll keep digging and let you know if I find anything.

[2018-06-01 13:45] #314 closed

[2018-06-02 15:51] magdalene opened #316 "Spreedsheet existing comments disappear after adding new comment"
**Do you want to request a *feature* or report a *bug*?**

Bug.

**What is the current behavior?**

If a spreadsheet contains comments, after adding a new comment, the next time opening the file, the existing (previous) comments are gone, and only the new comment is visible. If you download the .xlsx file and unzip it, the XML file where the comments are stored (`xl/comments1.xml`) does not contai

[2018-06-02 16:30] msaeedm opened #317 "Unusual gzip activity in docker version of DS"
**Do you want to request a *feature* or report a *bug*?**
Suspected bug

**What is the current behavior?**
DocumentServer logs are full of weird gzip activity. This is associated with medium to high CPU usage at rest. Here is a sample from the log file:

[code]

Here is the full log for your review
https://www.dropbox.com/s/eofvmhzyhkmgoa2/ds.log?dl=0

There also seems to be intermittent restarts

[2018-06-02 17:18] elevatingcreativity commented on #251
+1 I would use this as well. Not only for developing, but a lot of writers are adopting markdown because of its simplicity (e.g. several popular writer’s platforms are exclusively in markdown)

[2018-06-04 04:40] KAZMAZHANG opened #318 "Linebreak recalculate bug."
**Do you want to request a *feature* or report a *bug*?**
bug

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
In some lines, when the word and punctuation be warped to next line, the others words with justified style can't fit the line(such as the first line), and even if there is enough space to contain the word and punct

[2018-06-04 04:42] KAZMAZHANG commented on #318
This is the document:
[边城.docx](https://github.com/ONLYOFFICE/DocumentServer/files/2066851/default.docx)

Thank you for everything.

[2018-06-04 07:35] ShockwaveNN commented on #318
@KAZMAZHANG Thank you, I created issues 37890 and 37891 with those problems

[2018-06-04 07:39] ShockwaveNN commented on #317
@msaeedm  Hi there, can you show me full command for running container and in which log file those errors are present.
Never seen anything like this before

[2018-06-04 07:49] ShockwaveNN commented on #316
Hello there, thank you, I can confirm this is a bug,
Issue 37892 in our private bug tracker

[2018-06-05 03:10] msaeedm commented on #317
@ShockwaveNN Hi, here is my docker command:
[code]

Here are the relevant files from the run command above in order to enable SSL and the secret key.
[onlyoffice.env](https://www.dropbox.com/s/x3qu0egahg5eclx/onlyoffice.env?dl=0)
[ds-nginx.conf](https://www.dropbox.com/s/m1vuzifl424wwli/ds-nginx.conf?dl=0)
[ds-ssl.conf](https://www.dropbox.com/s/imynbeozsql3cfc/ds-ssl.conf?dl=0)

Also, please note

[2018-06-05 08:54] ShockwaveNN commented on #317
@msaeedm could you attach to container and see if any file in `/var/log/onlyoffice` show those errors?

[2018-06-05 09:06] ShockwaveNN commented on #316
@magdalene your bug is fixed in https://github.com/ONLYOFFICE/core/commit/37c276b7362c21b0815eaf2b786aea0485d4fdd8 and will be released as 5.1.5 in several weeks

[2018-06-05 10:17] magdalene commented on #316
@ShockwaveNN Great, that's awesome to hear! Thanks!

[2018-06-05 12:15] ShockwaveNN opened #319 "Ability to install older version of product from default repo"
1. Add default repo `echo "deb http://download.onlyoffice.com/repo/debian squeeze main" | sudo tee /etc/apt/sources.list.d/onlyoffice.list`
2. Try to install older version of products like
`sudo apt-get update && sudo apt-get -y install onlyoffice-documentserver-ie=5.1.3-35`

Result:
`E: Version '5.1.3-35' for 'onlyoffice-documentserver-ie' was not found`

Same for centos repo

**Operating System:

[2018-06-05 21:05] msaeedm commented on #317
@ShockwaveNN I checked all log files under all `/var/log/onlyoffice` sub-directories. Interestingly, I do not see those errors anywhere there.

[2018-06-06 04:40] beatgammit commented on #79
I haven't had time to dig in, and I'll be using LibreOffice in the short term, so I'm likely not going to look at it anytime soon. I'm still interested though.

[2018-06-06 07:50] ShockwaveNN commented on #317
@msaeedm I tryed your `docker run` command but I cannot reproduce those logs entries

[2018-06-06 10:43] flaminestone commented on #283
Hello @KimTheFirst. I can not reproduce issue. I installed NC (using docker) without SSL on one server (and added` 'verify_peer_off' => TRUE` to /var/www/html/config/config.php), and Document Server (with docker as well) on another.
Document Server has been installed using this command:
`docker run -p 8080:80 -it -e JWT_ENABLED=true -e JWT_SECRET=SECRET -e JWT_HEADER=AuthorizationJwt onlyoffice/do

[2018-06-06 11:24] KimTheFirst commented on #283
The server on which I tested this no longer exists. I will at some point need to perform the same configuration on a different server, so I will report back here in due course.

[2018-06-07 11:17] msaeedm commented on #317
@ShockwaveNN If you want to reproduce it, you will need to give it time in order for those errors to appear in docker logs. I created another container yesterday and kept it running. I checked docker logs today and saw tons of those entries.

[2018-06-07 11:19] ShockwaveNN commented on #317
@msaeedm maybe those errors from some real user or software that trying to access your server by unusual way (like incorrect adress or so).
I check some of my container that run 2 days ago and `docker logs` contain no such activtiy

[2018-06-08 07:02] zjutzhz commented on #69
@iehyxue 试试IE IE下没这个问题

[2018-06-08 07:29] ShockwaveNN commented on #317
@msaeedm sorry have no idea about troubleshooting.
You can try simplify your `docker run` command, since it has A LOT of options and see if something changed, it can help pinpoint exact reason why this happened

[2018-06-08 09:08] ShockwaveNN commented on #317
@msaeedm Thanks to @flaminestone we were able to reproduce this error by
[code]
To reproduce you may add one additional restart for solving problem with starting RabbitMQ (see https://github.com/ONLYOFFICE/Docker-DocumentServer/issues/92)
Seems this new gz entries added after each restart and it's no good.
But after in your cases seems there were like 81 restart.

[2018-06-08 14:21] msaeedm commented on #317
Thanks @ShockwaveNN @flaminestone

Not sure if this helps but I tested a separate RabbitMQ container and configured onlyoffice DS container to connect to it. Restarting the DS container STILL shows the gz issue even though RabbitMQ was not restarted (it is running in a different container)

[2018-06-08 14:30] ShockwaveNN commented on #317
@msaeedm I meant, that your error have nothing to do with RabbitMQ bug, I added this note so our dev team have no question about it.

[2018-06-12 10:05] hymany opened #320 "new create a PPT , and PPT is displayed as Chinese garbled."
**Do you want to request a *feature* or report a *bug*?**

**What is the current behavior?**

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavior?**

**Did this work in previous versions of DocumentServer?**

**DocumentServer version:**

**Operating System:**

**Browser version:**

[2018-06-12 10:07] hymany commented on #320
![123](https://user-images.githubusercontent.com/19706331/41284223-3ecadc2e-6e6b-11e8-895e-3b10141952a6.png)

[2018-06-12 11:56] meepiquitous commented on #152
Absolutely. I keep stumbling over this thread every few months, and there still doesn't seem to be an alternative to WebODF.

[2018-06-13 07:14] ShockwaveNN commented on #320
Duplicate of https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/189

[2018-06-13 07:14] #320 closed

[2018-06-13 07:33] Loxeno opened #321 "Spreadsheet - French formula"
Hi,

I am trying OnlyOffice - DocumentServer (5.1.4 CE) in a docker container.

I would like to use french formula.
As I can see, on the cloud edition, I can select the language, but can't in my environment.

By advance, thank you.

[2018-06-13 08:51] ShockwaveNN commented on #302
This ticket is being closed due to no response

[2018-06-13 08:51] #302 closed

[2018-06-13 10:13] ShockwaveNN commented on #321
We will add french language in 5.1.5, thank you for notificing

[2018-06-14 07:31] ShockwaveNN commented on #321
Fixed in https://github.com/ONLYOFFICE/web-apps/commit/a893b47fd7af6063ccac1d7e1585affa52578550

[2018-06-15 09:11] chinayangh opened #322 "data validation cells can not normally display drop-down list."
We use data validation to restrict the type of data or the values that users enter into a cell.
And following the microsoft guide:https://support.office.com/en-us/article/create-a-drop-down-list-7693307a-59ef-400a-b769-c5402dce407b?ui=en-US&rs=en-US&ad=US
So we create a drop-down list.
And after editing the excel document and upload to nextcloud , we have intergated onlyoffice to view and edit off

[2018-06-15 11:14] ShockwaveNN commented on #322
Hi. We got support of data validation dropdowns in plans, but currently this is not high priority task and we have no ETA when it will be ready. But you can contact our sales team sales@onlyoffice.com and discuss our priorities.

[2018-06-16 05:51] sreenivas369 opened #323 "save docx as html"
I am using online onlyoffice getting the following error while doing docx file save as html

sdk-all.js:9378 Uncaught TypeError: Cannot read property 'va' of null
    at Rg.hb.$vd (sdk-all.js:9378)
    at Sw.VN (sdk-all.js:168)
    at sdk-all.js:173
    at Ka.Yj (sdk-all-min.js:259)
    at Ka.K (sdk-all-min.js:259)
    at Sw.aXd (sdk-all.js:173)
    at sdk-all.js:173
    at Ka.Yj (sdk-all-min.js:2

[2018-06-16 06:30] chinayangh commented on #322
https://help.onlyoffice.com/products/files/doceditor.aspx?fileid=5044486&doc=MFRDWEVOeVBqdDF1N0dhOEFtOFdCZW5xdXBnV1NjUFBPTVZKUDcyanN3UT0_IjUwNDQ0ODYi0
I found this link on website.
And I compare two products , but Collabora Online does support data validation drop-down list .

[2018-06-18 01:45] trenshaw commented on #139
This still appears to be an issue for Ubuntu LTS 18.04 package nodejs/bionic,now 8.10.0~dfsg-2 amd64

[2018-06-18 02:12] trenshaw commented on #139
I tried removing the document-server and nodejs and tried adding the NodeJS 8.x
# curl -sL https://deb.nodesource.com/setup_8.x | sudo bash -

But still encounter the same error

[2018-06-18 06:53] trenshaw commented on #271
There appears to be a problem with the onlyoffice-documentserver:metrics service not starting through Supervisor on Ubuntu 18.04

util.js:969
    throw new TypeError('The super constructor to "inherits" must not ' +
    ^

TypeError: The super constructor to "inherits" must not be null or undefined
    at Object.inherits (util.js:969:11)
    at Object.<anonymous> (/var/www/onlyoffice/documentserve

[2018-06-18 07:03] trenshaw commented on #139
OK cloned from https://github.com/etsy/statsd.git and replaced statsd in /var/www/onlyoffice/documentserver/server/Metrics/node_modules .. working now

[2018-06-18 07:08] ShockwaveNN commented on #139
@trenshaw yeah, you're right. Issiue still actual since no statsd release for 2 years, but manually cloning from git should be fine

[2018-06-18 07:10] ShockwaveNN commented on #271
@trenshaw Seems you already find out solution, but this errors are from if anyone interested https://github.com/ONLYOFFICE/DocumentServer/issues/139

[2018-06-18 07:20] ShockwaveNN commented on #323
Could you add info about DocumentServer version and attach this docx file?

[2018-06-18 07:46] ShockwaveNN commented on #322
@chinayangh Yes, you're right, there really no such element in comparison list

[2018-06-18 10:10] Tyil opened #324 "Docker image fails to start"
**What is the current behavior?**

Running the docker container as per [the documentation](https://helpcenter.onlyoffice.com/server/docker/document/docker-installation.aspx) (`docker run -i -t -d -p 8080:80 --restart=always onlyoffice/documentserver`) fails on my machine:

[code]

Using `sudo` to run the docker command results in the same error. I've also tried a couple older tags than `latest` (w

[2018-06-18 10:32] ShockwaveNN commented on #324
@Tyil does other containers work on your system.
Try
[code]
And make sure everything fine. If not - contact support of Funtoo or Docker itself

[2018-06-18 11:44] agolybev commented on #317
Hi @msaeedm, the problem with gziping  will be fixed in next hotfix (v5.1.5)

[2018-06-18 12:59] Tyil commented on #324
There's 11 other docker containers running, so I'm very sure Docker itself is not the issue, nor is Funtoo.

[2018-06-18 13:04] ShockwaveNN commented on #324
@Tyil Ok, thanks I will take a look

[2018-06-18 13:15] Tyil commented on #324
I've tried your command as suggested, and it seems Docker can't do clean upgrades without downtime. I've restarted docker manually (which sadly did bring some downtime), but DocumentServer shows it's running right now. Thanks for the pointer into the right direction!

[2018-06-18 13:15] #324 closed

[2018-06-18 22:31] msaeedm commented on #317
Great @agolybev . Thank you and the dev team for your efforts

[2018-06-19 10:06] sedivy-va opened #450 "Pivot Tables"
Hi,

We have NextCloud 13 with ONLYOFFICE Document server 5.1.4 CE. It's work pretty well, but toolbar looks quite simple - e.g. missing "Pivot Tables" tab.

On official OnlyOffice demo page is "full version" of toolbar:
https://api.onlyoffice.com/editors/demopreview?type=spreadsheet#DemoPreview

It's about Only Office licence? We used CE version.

[2018-06-19 10:24] badaa opened #325 "API for Spellchecker"
Hi,
Do you have a plan to implement an API for grammar checking?

[2018-06-19 10:32] badaa opened #326 "Integration of spell checking engine"
**Do you want to request a *feature* or report a *bug*?**
*feature*
**What is the current behavior?**
None.
**What is the expected behavior?**
Currently, Onlyoffice has support for only hunspell spelling engine. How can I integrate another spell checking engine?

[2018-06-19 12:00] ShockwaveNN commented on #325
@badaa Hi there, currently we have no plans to implement such feature. But you can contact our sales team at sales@onlyoffice.com to discuss it.

[2018-06-19 12:00] ShockwaveNN commented on #326
Currently we have no way to implement another spellcheck engine

[2018-06-20 05:51] jdkcn opened #327 "track changes not working when use input method"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**

If use some input method, eg: Chinese input method,then track changes not working.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

If I start typing with Input Method,Not track a adding, If I start typing without input method(

[2018-06-20 05:52] jdkcn commented on #327
BTW: The libreoffice online's track changes worked.

[2018-06-20 06:01] jdkcn commented on #327
![14_00_07__06_20_2018](https://user-images.githubusercontent.com/3855/41639927-6d8e3a60-7492-11e8-8337-c21f8949ca50.jpg)

[2018-06-20 09:16] Rita-Bubnova commented on #327
Hello, @jdkcn.
Thank you. I can confirm - this is a bug, issue 37986 in our internal issue tracker.

[2018-06-20 11:17] jdkcn commented on #327
Hello, @ShockwaveNN .

Some schedule for fix this?

May be this is about the key code when use input method?

This cause the wrong deal about start tracking event?

[2018-06-20 13:04] Rita-Bubnova commented on #327
Our dev team took a look at this problem, but so far we cannot estimate the number of code changes to fix this problem.
So we can not yet say for sure how long this will take.

[2018-06-21 16:01] ShockwaveNN commented on #317
Checked `onlyoffice/4testing-documentserver:5.1.5.35` and there is no problems with gzip

[2018-06-22 08:30] ShockwaveNN commented on #318
@KAZMAZHANG Just recheck - both your bugs are fixed in dev version and will be released as 5.2

[2018-06-22 12:00] despens opened #328 "Logfiles missing error messages"
**Do you want to request a *feature* or report a *bug*?**

Not clear if feature request or missing documentation

**What is the current behavior?**

As deescribed in [another issue](https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/191), integration with nextcloud yields the error message `Error occurred in the document service: Error while downloading the document file to be converted.` I

[2018-06-22 15:35] ShockwaveNN commented on #328
@despens could you attach whole /var/log/onlyoffice dir to make sure everything seems to be fine in logs?

[2018-06-22 18:02] despens commented on #328
Thank you @ShockwaveNN! I wouldn't want to post the whole log directory publicly since I am not sure if it contains private information. How can I get the tar.gz file to you?

[2018-06-22 18:07] ShockwaveNN commented on #328
@despens send it to shockwavenn@gmail.com

[2018-06-23 10:11] despens commented on #328
Pavel, thank you so much for offering to look at my log files. Before sending the tarball I took a last look and found the issue in `/var/log/onlyoffice/documentserver/converter/out.log`: nextcloud didn't accept the internal connection URL. I had to add to nextcloud's configuration.

The nextcloud integration app I had to set up as follows:

Document Enditing Service: `https://office.public.nextcl

[2018-06-23 11:57] despens opened #329 "Fonts cache problem while adding new fonts"
**Do you want to request a *feature* or report a *bug*?**

Bug report

**What is the current behavior?**

After following the [instructions on how to install fonts into document server](https://helpcenter.onlyoffice.com/de/server/linux/document/install-fonts.aspx), all fonts except Arial seem mixed up in the Online Editor.

**If the current behavior is a bug, please provide the steps to reproduce

[2018-06-24 14:17] despens commented on #329
I found out that using the Document Server in with an icognito window (no chache) will make the online editor behave correctly and show the right fonts. Clearing my browser cache didn't help though. Is there a specific URL on the Document Server that I should manually reload?

Maybe the cache time for the fonts could be reduced in future versions?

[2018-06-26 06:34] lmtoo opened #330 "Doesn't show the PDF signature"
**Do you want to request a *feature* or report a *bug*?**

report a bug

**What is the current behavior?**

does't show the signature

![image](https://user-images.githubusercontent.com/7508549/41893265-b7935356-794d-11e8-97e1-4f179f60ad56.png)

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

**What is the expected behavio

[2018-06-26 08:22] ShockwaveNN commented on #323
@sreenivas369 could you specify exact version of DocumentServer

[2018-06-26 08:29] ShockwaveNN commented on #329
@despens Could you try to clean cache again?
It's a known problem if you add new fonts and didn't cleanup browser cache - everything will mix up. It's a very old problem and we still have no solution for this. But cleaning browser cache SHOULD work. Try to clean not only cache but other files also.

[2018-06-26 08:34] ShockwaveNN commented on #328
@LinneyS take a look

[2018-06-26 08:39] ShockwaveNN commented on #330
@lmtoo Thank you, I can confirm - this is a bug.
I created an issue 38048 in our internal bug tracker

[2018-06-26 09:13] despens commented on #329
I did clean the cache thoroughly and the fonts do appear now (except Times New Roman!)

Maybe you could add a random string to the the fonts' URL when requested by the front end? That string could change each time the fonts are rebuilt with `documentserver-generate-allfonts.sh`.

That is how most CDNs do it.

[2018-06-26 09:21] ShockwaveNN commented on #329
@despens yeah, of course we fought about random string, but we encountered some other troubles, I don't recall exactly that it was, but something with high network load

[2018-06-26 10:44] linmsh commented on #222
为什么我的字体显示“yahei”而不显示“微软雅黑”

[2018-06-26 10:45] linmsh commented on #7
为什么我的字体显示“yahei”而不显示“微软雅黑”

[2018-06-26 13:45] ydelattre opened #331 "Insert an escape characters corrupts the document"
**Do you want to request a *feature* or report a *bug*?**
bug

**What is the current behavior?**
If you insert, by mistake, with a copy paste for example, an escape characters (ALT+023), it's corrupts the file and the data are lost.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**

![bug_escape_character](https://user-image

[2018-06-26 14:59] Rita-Bubnova commented on #331
Hello, @ydelattre.
Thank you. I can confirm - this is a bug, issue 39989 in our internal issue tracker.
This problem will be fixed in version 5.2.

[2018-06-27 05:43] ydelattre commented on #331
Hello @Rita-Bubnova.
Great ! Thanks a lot for your reactivity and your fix :)

[2018-06-27 08:26] linmsh opened #332 "Change font name to alternative name after changing interface language"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
The font is selected in Chinese font, and the toolbar is not displayed in Chinese but displayed in English.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Why does font selection end with "Microsoft YaHei" instead of Chinese?
**

[2018-06-27 08:37] linmsh commented on #332
https://pan.baidu.com/s/1tEqN5ihR8W3UOzKbX-GTNA

[2018-06-27 08:39] linmsh commented on #332
My question screenshot.   https://pan.baidu.com/s/1tEqN5ihR8W3UOzKbX-GTNA

[2018-06-27 08:49] ShockwaveNN commented on #332
Currently we display only default name of Font, no alternative names.
But we think it's a great idea to change of font name while changing interface language so we will add support of this in future releases

[2018-06-27 08:59] linmsh commented on #332
@ShockwaveNN well,cool.Expect the feature to come early

[2018-06-27 09:41] ExaconAT commented on #256
Still having the same Problem @NC Version 13.0.4

[2018-06-27 10:42] alexanderonlyoffice commented on #256
@Floflobel, we apologize for the delayed response. You have checked the accessibility of the Document Server for Nextcloud. Check also the accessibility of Nextcloud for the Document Server. It seems that Document Server have no access to it.

@ExaconAT, please also do the same. Check the accessibility of the Document Server for Nextcloud and vice versa. Use wget command.

Specify also which versi

[2018-06-27 10:51] Floflobel commented on #256
I check the accessibility and I don't have any problem.
Log of my wget, I check the index and is good.

onlyoffice-documentserver             5.1.2-9

[code]

[code]

[2018-06-27 10:59] ExaconAT commented on #256
Both Servers can access the OnlyOffice DC Server.

Before i removed the settings on the 2nd nextcloud then I did nothing the last 1-2 hours and now it's working again on the 1st nextcloud...

strange

[2018-06-27 11:15] alexanderonlyoffice commented on #256
@ExaconAT, have you checked if Document Server can access both Nextcloud instances?

[2018-06-27 12:18] alexanderonlyoffice commented on #256
@Floflobel and @ExaconAT, do you have any errors when clicking on the 'Save" button on ONLYOFFICE address settings page in Nextcloud? If yes, please send us screenshots.

Open browser's console (choose Network tab) -> Click on the 'Save' button -> Send us a screenshot of the page with browser's console opened, if there are any errors;
Open browser's console (choose Console tab) -> Click on the 'Sa

[2018-06-27 12:28] ExaconAT commented on #256
Thank you it's working now, it was a firewalling problem / dns-retranslation.

[2018-06-27 13:39] Floflobel commented on #256
@alexanderonlyoffice For me, I don't have any error when click on the 'Save' button.
Anything into Network and Console tab.
Do you want open a new issue ?

[2018-06-27 14:14] alexanderonlyoffice commented on #256
@Floflobel, please specify then what is the exact problem (files cannot be edited or any errors while opening files). Send us screenshots of it.

On your screenshot above we can see that you have entered JWT secret in Nextcloud. Please open default.json config of your Document Server and find the following section:
[code]
Make sure that the secret you entered in Nextcloud matches the one in defaul

[2018-06-28 03:04] linmsh commented on #332
@ShockwaveNN It doesn't really matter. When will the font be displayed in Chinese?
And, if necessary, I can help you with Chinese translation.

[2018-06-28 07:41] ShockwaveNN commented on #332
@linmsh currently I have no information about ETA of this changes.
If you wanna translates names of fonts - there is no need in this, this metadata is stored in font files, we just need show them in interface.
But if you wanna help translation of whole interface to Chinese - you can contact documentation@onlyoffice.com

[2018-06-29 01:57] linmsh commented on #332
@ShockwaveNN  well,thank for you.
I put the document server on the docker container of the Linux system.if i change the encoding and language of the docker container to the Chinese code. Will the font name on the document toolbar show Chinese?

[2018-06-29 02:07] linmsh commented on #332
The encoding and language modification of my docker container is coded in Chinese, and the following command is executed:
1.tar -cv * | docker exec -i 0f5 tar x -C /usr/share/fonts/truetype
2.docker exec 0f5 documentserver-generate-allfonts.sh
But the font name on the document editor toolbar is still not displayed in Chinese.

[2018-06-29 07:18] ShockwaveNN commented on #332
no, it will not, we need to implement such a thing

[2018-06-29 08:47] linmsh commented on #332
great. i see, thank you

[2018-06-29 08:53] linmsh commented on #332
@ShockwaveNN oh，I understand. thank for you

[2018-07-01 13:21] jdkcn commented on #327
@Rita-Bubnova Can u tell me the code about track changes? I wan't to try a fix, Thanks.

[2018-07-02 10:15] deajan opened #333 "web-apps spreadsheet missing french formulas"
In the DocuementServer changelog.md file, version 5.1.3 states:
```Add French translation for formulas```

I've checked in apps/spreadsheeteditor/main/ressources/formula-lang, no fr.json file is present (in web-apps repo).
Any plans on that ?

[2018-07-02 10:17] ShockwaveNN commented on #333
Duplicate of https://github.com/ONLYOFFICE/DocumentServer/issues/321

[2018-07-02 10:17] #333 closed

[2018-07-02 10:21] deajan commented on #333
Thanks (wow! Fastest github issue ever. Didn't finish to update my issue and you already answered :)

[2018-07-02 11:07] LinneyS commented on #328
Adding error message is present
https://github.com/ONLYOFFICE/onlyoffice-owncloud/blob/v1.3.0/controller/settingscontroller.php#L259

[2018-07-02 11:07] #328 closed

[2018-07-02 14:07] KirillovIlya commented on #327
This bug will be fixed in one of the nearest release.

[2018-07-03 12:30] djermann opened #334 "Missing number format"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Number formats like 1.000,00 are possible, but not 1'000.00 or 1’000.00
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
self-explaining
**What is the expected behavior?**
Number formats like 1'000.00 and 1’000.00 have to be avail

[2018-07-03 14:56] Rita-Bubnova commented on #334
Hello, @djermann.

The separator changes depending on the selected regional settings (File -> Advanced settings -> Regional settings).
If you want to use an apostrophe as a separator, you can, for example, select the Swiss localization.
This localization will be added to onlyoffice-documentserver in future version. But you can use it right now in onlyoffice-documentserver-de or onlyoffice-document

[2018-07-03 15:20] djermann commented on #334
Thank you @Rita-Bubnova for your answer.
I use the docker image with the community edition, will this be added there as well? If yes, can you tell in which version this will probably be added?

[2018-07-03 15:33] Rita-Bubnova commented on #334
Probably in 5.1.5 in several weeks.

[2018-07-05 07:14] xiaozhubenben opened #337 "chinese font issue at document conversion service"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
When I use document conversion service convert   doc/ppt to png/pdf,
if some chinese fonts is missing , chinese charactors using these font in  the converted files(png/pdf) will display as □.
But when I open the same doc/ppt  file in document server Editor, these chinese display correctly.

**If the cur

[2018-07-05 07:34] xiaozhubenben commented on #337
![converted file](https://user-images.githubusercontent.com/12681822/42308690-e6324560-8068-11e8-866f-3dc2fef6d7e5.png)
![origin file](https://user-images.githubusercontent.com/12681822/42308691-e67915f8-8068-11e8-832b-0ed6c00a907c.png)

[2018-07-05 09:21] xiaozhubenben commented on #337
@ShockwaveNN  I had attach file here a.zip   https://github.com/ONLYOFFICE/DocumentServer/files/2165566/a.zip

[2018-07-05 10:23] ShockwaveNN commented on #337
@xiaozhubenben Just checked. Your issue is reproduced on current stable 5.1.4 and already fixed on next bugfix 5.1.5 by https://github.com/ONLYOFFICE/sdkjs/commit/8537ca5724613d3fc1cda5593aa0593a1092ec69
Wait several weeks for release of 5.1.5.
Thanks :)

[2018-07-05 12:30] BugReporter123 opened #338 "No option to switch Display Mode between Original, Markup and Final"
**Do you want to request a *feature* or report a *bug*?**
*bug*
**What is the current behavior?**
In the Track Changes menu you can't select the Display Mode.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Use "Track Changes" and write Text. Try to hide the changes.

**What is the expected behavior?**
There is no feature

[2018-07-05 12:41] ShockwaveNN commented on #338
This feature available only in Integration Edition and Developer Editions.
See https://github.com/ONLYOFFICE/DocumentServer#onlyoffice-document-server-editions

[2018-07-05 12:41] #338 closed

[2018-07-10 04:38] amikrage opened #339 "Package onlyoffice-documentserver.x86_64.rpm is not signed"
When installed according to the instructions
https://helpcenter.onlyoffice.com/server/linux/document/linux-installation-centos.aspx

In paragraph "Installing Document Server"
sudo yum install onlyoffice-documentserver
Gives an error "Package onlyoffice-documentserver.x86_64.rpm is not signed"

You have to use "sudo yum install onlyoffice-documentserver --nogpgcheck"

onlyoffice-documentserver-5.1.

[2018-07-10 05:51] amikrage opened #340 "onlyoffice-documentserver-ssl.conf.template"
https://helpcenter.onlyoffice.com/server/linux/document/switch-to-https.aspx

/etc/nginx/conf.d/onlyoffice-documentserver-ssl.conf.template
Missing in the package

https://helpcenter.onlyoffice.com/ru/server/linux/document/linux-installation-centos.aspx
And also in the Russian installation instructions, duplicated line:
sudo -u postgres psql -c "CREATE DATABASE onlyoffice;"

onlyoffice-documentser

[2018-07-10 06:09] amikrage commented on #340
rm /etc/nginx/conf.d/onlyoffice-documentserver.conf
sudo cp -f /etc/onlyoffice/documentserver/nginx/onlyoffice-documentserver-ssl.conf.template /etc/nginx/conf.d/onlyoffice-documentserver.conf

You need to improve the instructions

[2018-07-10 07:05] ggp2018 opened #341 "Use IE browser to Edit Excel files, unable to complete movement, copy, paste."
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Edit the Excel table using IE:
Q1. right-copy the table with background color, and paste into the blank table, but the background color disappears.
Q2. Select one column of data, then right-paste it to another cell, and the data will be pasted normally, but the data will start from the next cell of the

[2018-07-10 07:35] ShockwaveNN commented on #339
@amikrage Thanks, we working on it

[2018-07-10 07:57] ShockwaveNN commented on #340
@amikrage Fixed duplicate lines in https://github.com/ONLYOFFICE/helpcenter/pull/6 (private repo). Update helpcenter soon.

In debian installation `/etc/nginx/conf.d/onlyoffice-documentserver-ssl.conf.template` exists, I'm not sure about centos, need some time to investigate

[2018-07-10 08:22] Rita-Bubnova commented on #341
Hello, @ggp2018.

Thank you. I can confirm - this is a new bugs, issues 38167, 38168, 38169 in our internal issue tracker.

Unfortunately, one of the problems could not be reproduced:
"Q3.Select multiple side cells, and then try to drag and drop to other cell locations, but not successfully."
Can you attach video or gif of this problem?

[2018-07-10 08:35] ggp2018 opened #342 "The file contains special fonts and header footers that cannot be rendered"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Q1.Special fonts are not displayed when you preview or edit word files that contain special fonts.
Q2.Headers and footers are not displayed when you preview or edit Excel files containing headers and footers.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a min

[2018-07-10 09:10] ggp2018 opened #343 "Documents that contain complex formulas or charts or functions cannot render a preview or edit interface."
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Q1.Documents that contain complex formulas or charts or functions cannot render a preview or edit interface.
Q2.Documents that contain composite diagrams cannot be fully rendered in the preview or edit interface.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a

[2018-07-10 09:37] ggp2018 opened #344 "When editing or previewing an word file, some of the contents of the file are malformed"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
When editing or previewing the word file, some of the contents of the file will be in a wrong format, and it will still be wrong after editing and saving.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
[Solution V6.0.1 Troublesh

[2018-07-10 09:49] ShockwaveNN commented on #343
@ggp2018 Thanks, we have a look, but in future please create separate issue for each file

[2018-07-10 10:21] flaminestone commented on #344
Hello @ggp2018 . Thank you for issue. Yes, this is bug, and we fix it in future.
I created an issue 38171 in our internal bug tracker

[2018-07-10 10:23] Rita-Bubnova commented on #343
Hello, @ggp2018.

Thank you. I can confirm -  this is a bug, issue 38172 in our internal issue tracker.

The combined charts are not displayed correctly in the XLSX file. At the moment our developers are working on this issue and we plan to fix this in one of the following versions.

[2018-07-10 10:39] Rita-Bubnova commented on #342
Hello, @ggp2018.

Thank you. I can confirm - this is a bugs, issues 27493, 38173 in our internal issue tracker.

[2018-07-11 01:06] ggp2018 commented on #341
Thank you for your reply. I uploaded Q3 GIFs, please pay attention.
![example for ie11](https://user-images.githubusercontent.com/37365552/42545291-9746f998-84e9-11e8-924b-5244a0c0d702.gif)
![example](https://user-images.githubusercontent.com/37365552/42545292-977f67e2-84e9-11e8-9835-cbf1843984ed.gif)

[2018-07-11 07:43] Rita-Bubnova commented on #341
In version 5.1.4 (22), this problem has already been fixed.
Please update your document server to latest version.

[2018-07-11 12:45] fvkn commented on #252
Do you have a timeline for this feature? it appears in many xls forms and is thus a must have for us.

[2018-07-12 14:23] ShockwaveNN commented on #339
Should be fixed by now

[2018-07-12 14:23] #339 closed

[2018-07-13 10:47] alex2003super commented on #312
Still not working for me

[2018-07-13 11:08] ShockwaveNN commented on #312
@alex2003super see logs for errors at `/var/log/onlyoffice/documentserver/spellchecker/`

[2018-07-15 11:17] amitassaraf commented on #19
Please add RTL support for the next release, it is a critical feature for this product.

[2018-07-15 16:36] alex2003super commented on #312
@ShockwaveNN There were no errors. I discovered that npm handles my node package, on a different version than nodejs, the one used by ONLYOFFICE. I removed /usr/local/bin/node and replaced it with a symlink to /usr/local/bin/nodejs . I then updated my node (which for some strange reason still remained on a different version than that of nodejs) to 8 and node to the same version. Apparently nvm man

[2018-07-15 19:08] bicyclist101 opened #345 "First row and first column disappear after scrolling"
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
After scrolling down and back up the first row disappears. The first row that can be seen is row 2.
Same behavior with the columns after scrolling right and left.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Open spreadsheet

[2018-07-16 08:12] enric1994 opened #346 "[Bug] Read only users can't edit filters"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
After sharing a filtered Excel to someone who can't edit, the user only can see the filtered contents.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
1. User A create an Excel and add some data
2. User A share the document to us

[2018-07-16 11:34] ShockwaveNN commented on #345
@bicyclist101 which version of DocumentServer are you using?

[2018-07-16 12:11] bicyclist101 commented on #345
@ShockwaveNN Sorry for the missing info. The Version is 5.1.0 CE

[2018-07-16 12:15] ShockwaveNN commented on #346
This feature available only in commercial editions with special license type. If you want to use it please contact sales@onlyoffice.com.

[2018-07-16 12:15] #346 closed

[2018-07-16 12:32] ShockwaveNN commented on #345
@bicyclist101 could you update to latest version. This issue may be fixed.

[2018-07-16 13:03] bicyclist101 commented on #345
Hi, I already wrote my nextcloud-hoster and got the reply that an update is not possible because of the new pricing model.
As I was told upgrading to 5.1.4 would imply cost of 5€ per user.
Well I did not know that.
So fixing the bug won't help me specifically.

[2018-07-16 13:09] ShockwaveNN commented on #345
@bicyclist101 I advice to change your hoster, since all versions of community edition are completely free.
I'm closing this issue since it should be fixed

[2018-07-16 13:09] #345 closed

[2018-07-17 07:52] ggp2018 opened #348 "Ppt animation effects cannot be supported in preview mode."
**Do you want to request a *feature* or report a *bug*?**
bug
**What is the current behavior?**
Ppt animation effects cannot be supported in preview mode.
**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
[精美翻书效果工作总结PPT模板2.zip](https://github.com/ONLYOFFICE/DocumentServer/files/2200642/PPT.2.zip)

**What is the expected behav

[2018-07-17 08:03] ShockwaveNN commented on #348
Hi there, this is a known issue, 38088 in our private bug tracked.
We working on it, thanks.

[2018-07-17 10:17] altokarev opened #349 "Data loss in files"
**Do you want to request a *feature* or report a *bug*?**
Bug.

**What is the current behavior?**
We're losing the information in the files from time to time. I noticed such behavior for xls files at the moment.

**If the current behavior is a bug, please provide the steps to reproduce and if possible a minimal demo of the problem.**
Save the document (menu -> Save or Ctrl+S), close it and open it

[2018-07-17 10:41] altokarev commented on #349
Document Server has connected to the Nextcloud (and we're using Group Folders module).

[2018-07-17 11:15] ShockwaveNN commented on #349
This issue related to owncloud, so please report it in according repo https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues

[2018-07-17 12:08] #349 closed

[2018-07-17 12:08] altokarev commented on #349
Issue moved to [ONLYOFFICE/onlyoffice-owncloud #201](https://github.com/ONLYOFFICE/onlyoffice-owncloud/issues/201) via [**ZenHub**](https://www.zenhub.com/)

[2018-07-17 14:23] djermann opened #350 "Images get cropped while printing"
**Do you want to request a *feature* or report a *bug*?**
Bug
**What is the current behavior?**
Every picture I insert into a document file loses 2-3 rows of pixels at the borders when printing to a PDF file.
Before:
![before](https://user-images.githubusercontent.com/20949681/42822091-6cdef1a6-89da-11e8-818a-340dbc32f845.png)
After:
![after](https://user-images.githubusercontent.com/20949681/4282

[2018-07-17 14:32] Rita-Bubnova commented on #350
Hello, @djermann.
Thank you. I can confirm - this is a bug, issue 36372 in our internal issue tracker.

[2018-07-19 09:32] ShockwaveNN commented on #323
This issue is being closed due to no response

[2018-07-19 09:32] #323 closed

[2018-07-19 09:36] ShockwaveNN commented on #340
Fixed `onlyoffice-documentserver-ssl.conf.template` error in https://github.com/ONLYOFFICE/helpcenter/commit/ca96b7ff38723ced907d88e5a61b603573a511e2

[2018-07-19 09:39] ShockwaveNN commented on #341
Closing, since fixed in 5.1.4

[2018-07-19 09:39] #341 closed

[2018-07-19 09:39] ShockwaveNN commented on #334
5.1.5 released yesterday, this issue should be fixed

[2018-07-19 09:39] #334 closed

[2018-07-19 09:41] ShockwaveNN commented on #321
5.1.5 released yesterday, this issue should be fixed

[2018-07-19 09:41] #321 closed

[2018-07-19 09:43] ShockwaveNN commented on #313
Closing since no new info

[2018-07-19 09:43] #313 closed

[2018-07-19 09:55] ShockwaveNN commented on #273
To be clear - this issue will be fixed in 5.2 and will be released in several months

[2018-07-21 01:42] lingks opened #351 "When opening history, some versions will be jssdk errors in individual editions.how i can Deal with this problem"
When opening history, some versions will be jssdk errors in individual editions.how i can Deal with this problem
![qq 20180719152606](https://user-images.githubusercontent.com/32865119/43030907-09371208-8cca-11e8-98da-c11d837b5815.png)

[2018-07-22 14:59] ianxo commented on #340
@ShockwaveNN

I just install OO on a fresh debian install and I'm missing `/etc/nginx/conf.d/onlyoffice-documentserver-ssl.conf.template` too.

could someone pleas provide a link to mention file? I'm having trouble finding it...

[2018-07-23 06:34] ggp2018 commented on #348
hi,is there a plan to solve the problem?

[2018-07-23 06:36] ggp2018 commented on #344
is there a plan to solve the problem?

[2018-07-23 06:38] ggp2018 commented on #342
hi ,is there a plan to solve the problem?@Rita-Bubnova

[2018-07-23 06:40] flaminestone commented on #344
@ggp2018 This problem will be solved in 5.2.0 release

[2018-07-23 06:45] ggp2018 commented on #343
@Rita-Bubnova is there a plan to solve the problem?

[2018-07-23 06:46] ShockwaveNN commented on #348
@ggp2018 Hi, currently we have no ETA for this problem. You can speed things up by contacting sales@onlyoffice.com

[2018-07-23 07:41] rarapost opened #352 "DB and redis to connect with unix domain socket"
Feature Request

It would be great if documentserver were able to connect to database (namely postgreSQL) and redis through Unix Domain Socket, which is faster, less resource consuming and more secure then TCP connectoin (even usin 'localhost').

I did not find whether it is possible in current version.

[2018-07-23 08:34] Rita-Bubnova commented on #342
Sorry, there is no ETA for this problem.
You can contact sales team sales@onlyoffice.com to speed up thins.

[2018-07-23 08:47] ShockwaveNN commented on #352
Partial duplicate of https://github.com/ONLYOFFICE/DocumentServer/issues/227

[2018-07-23 08:48] #352 closed

[2018-07-23 11:23] rarapost opened #353 "To allow to specify redis password"
Feature request / bug / missing feature ?

it is impossible to connect to redit it it has specified connection  password.

My suggestion is to add new configuration option "password"  to redis part and chage "createClientRedis" function in "pubsubRedis.js" javascript as follow:

[code]
The snippet above involves also unix domain socked as it is suggested in #227.
In the same JS file I neede to add

[2018-07-23 12:14] ShockwaveNN commented on #353
@konovalovsergey take a look

[2018-07-23 14:59] jkolo commented on #303
Any progress?

[2018-07-23 15:36] ShockwaveNN commented on #303
@jkolo hi, currently no, but I remind dev team to have a look, try to include your fix in 5.2.0

[2018-07-24 11:21] ShockwaveNN commented on #351
@lingks could you attach original file which openes and archive changesurl zip for version for which error occured
And also fill out version info and OS info for issue

[2018-07-24 16:50] ShockwaveNN commented on #303
@jkolo your changes are in https://github.com/ONLYOFFICE/sdkjs/commit/b035af02ab9ab6ed0ec05ed331782ca0ff7f2113
This will be released as 5.2, thank you

[2018-07-25 02:31] lingks commented on #351
changesurl:    http://183.60.252.250:8888/changeurl.zip
cacheurl:    http://183.60.252.250:8888/cacheurl.docx
original file:   http://183.60.252.250:8888/appdoc.docx
onlyoffice version is 5.1.4
os version is :　Linux version 3.10.0-693.11.6.el7.x86_64 (builder@kbuilder.dev.centos.org) (gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC)

[2018-07-25 13:22] MrMoronIV opened #354 "error: function merge_db(unknown, unknown, unknown, unknown, unknown, unknown, unknown, unknown) does not exist"
Trying to open a file from Seafile, I get "Loading document" all the time,

I found an error in the out.log file:
[code]
The same error is shown twice for one doc opening attempt.
Any idea how to fix this?

Centos 7, pure install, no docker, nodejs 6.14 (default yum install)

version 5.1.5-59

[2018-07-25 13:38] MrMoronIV commented on #295
I'm getting the same error as you described here:
https://github.com/ONLYOFFICE/DocumentServer/issues/354

How did you reinstall the server? Cause I tried yum reinstall but that changed nothing...

[2018-07-25 13:38] ShockwaveNN commented on #354
What is postgresql version and try to rerun `bash documentserver-configure.sh` again

[2018-07-25 13:50] MrMoronIV commented on #354
`bash documentserver-configure.sh` fixed it.... thank you

[2018-07-25 13:57] #354 closed

[2018-07-26 02:05] lingks commented on #351
changesurl : http://183.60.252.250:8888/changesurl.zip

[2018-07-26 08:11] Rita-Bubnova commented on #292
Your issue fixed in https://github.com/ONLYOFFICE/sdkjs/commit/992347fa9cfb5162f61a3456548488fe5597d81a and will be released as 5.2.

[2018-07-30 03:14] lingks commented on #351
Is there a solution for this problem? is is a bug
Or the settings is wrong

[2018-07-30 03:15] lingks commented on #351
is it a bug Or the settings is wrong,have any suggestions?

[2018-07-30 06:59] ShockwaveNN commented on #351
@lingks sorry we still not able to reproduce your problem and do not know

[2018-07-30 09:23] gong9949 commented on #39
@khanhmas  hello,i have the same problem ,how did you solve it?
Could you please tell me?

[2018-07-31 07:28] JoeLucky opened #355 "SmartArt performed abnormal in slide."
I insert a SmartArt  into my slide, and it looks like this[1], but performed like that[2].
[1]:
![picture](https://github.com/JoeLucky/Practice/blob/master/slide1.png?raw=true)
[2]:
![picture](https://github.com/JoeLucky/Practice/blob/master/slide2.png?raw=true)

Appreciate your help.

[2018-07-31 07:30] lingks commented on #351
http://183.60.252.250:31111/cms/api/doc/edit/16b3ec91-f3d4-4710-b1ef-327625b90a31?access_token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOlsicmVzX2FwcHRlbSIsIm9yZGVyLXNlcnZpY2UiXSwidXNlcl9uYW1lIjoiYWRtaW4iLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZXhwIjoxNTMzNDgxMzgxLCJhdXRob3JpdGllcyI6W10sImp0aSI6IjI0YTUyNmY2LTg2NmYtNDMzYi05YmI4LTg0MWFkZWM1ZTI1NiIsImNsaWVudF9pZCI6IiQyYSQxMCRYT1ZzNFoxWXRQS3FLd1FWeXdH

[2018-07-31 07:57] ShockwaveNN commented on #351
@lingks yeah, thanks, we were able to reproduce your issue on local server but currently have no solution for this, we inform you as soon as we figure something out

[2018-07-31 08:03] ShockwaveNN commented on #355
@JoeLucky Could you describe how did you insert SmartArt? Did you copy it from MS Word and inserted in Onlyoffice? If so please attach original file

[2018-07-31 08:44] lingks commented on #351
thanks！

[2018-07-31 09:57] JoeLucky commented on #355
@ShockwaveNN Sorry, I forget to attach original file. This it the file.
https://github.com/JoeLucky/Practice/blob/master/123slide.pptx

I inset SmartArt in MS Powerpoint and view it on onlyoffice.

[2018-07-31 10:14] Rita-Bubnova commented on #355
Hello, @JoeLucky.
Thank you. I can confirm - this is a bug, issue 38371 in our internal issue tracker.

[2018-07-31 10:50] ShockwaveNN commented on #351
We think something wrong with your conifg
We found out strange thing
Version 4 of your doc is:
![image](https://user-images.githubusercontent.com/668524/43455342-2c264ba2-94c8-11e8-861d-3207a71cc339.png)
Version 5 of your doc is:
![image](https://user-images.githubusercontent.com/668524/43455377-3eb83654-94c8-11e8-9f4e-7f1693b1f8f0.png)

It's clearly visible that difference in those version are on

[2018-07-31 11:31] Rita-Bubnova commented on #355
The attached file was most likely created in WPS Office and does not fully correspond to the standards of our developers.
WPS Office and according to our dev team is not fully compatible with ooxml standard.
If you re-save the source file in MS Office, SmartArt will be displayed correctly in the ONLYOFFICE editor.

[2018-07-31 19:03] Floflobel commented on #256
Error when open a document:
![screenshot from 2018-07-31 20-48-21](https://user-images.githubusercontent.com/13889750/43480297-28496dc6-9503-11e8-8b4d-361287c4ef25.png)

I just tested with the latest version of onlyoffice and it still does not work.
I check the secret keys they match between my nextcloud configuration and the default file of onlyoffice.
I add jwt_secret with the same key of my onl

[2018-08-01 02:43] lingks commented on #351
http://183.60.252.250:31111/cms/api/doc/edit/7e10d441-2bbc-445c-8886-e29576eeb652?access_token=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCJ9.eyJhdWQiOlsicmVzX2FwcHRlbSIsIm9yZGVyLXNlcnZpY2UiXSwidXNlcl9uYW1lIjoiYWRtaW4iLCJzY29wZSI6WyJyZWFkIiwid3JpdGUiXSwiZXhwIjoxNTMzNDgxMzgxLCJhdXRob3JpdGllcyI6W10sImp0aSI6IjI0YTUyNmY2LTg2NmYtNDMzYi05YmI4LTg0MWFkZWM1ZTI1NiIsImNsaWVudF9pZCI6IiQyYSQxMCRYT1ZzNFoxWXRQS3FLd1FWeXdH

[2018-08-01 03:03] nguyenvancanh commented on #39
hello. i return { "error": 0 }  at the and of file callback. and the dialog message eror do not diplay. But, when i edit file and save it. it do not save content file as expected. How can i fix it. Thanks

[2018-08-01 03:11] lingks commented on #351
A strange question，When I change the background color of a text, the problems often arise. else if i add something  ,mabe it was nothing happend

[2018-08-01 03:49] twangel opened #356 "Open file is very slowly in the first time"
Hi! I install OnlyOffice Community Edition in Windows Server 2016,when I run the demo I find the file is opened very slowly in the first time ,in the next time it will be fast. But if I close the browers and open it again,the same issue will be happened.
![20180801114353](https://user-images.githubusercontent.com/6602951/43499981-d3a5be4a-9580-11e8-8df1-85f23415bf60.png)

I debugging it in my goog

[2018-08-01 08:36] ShockwaveNN commented on #356
This is fonts files, the more complex file with a lot different fonts are opening - the longer it will be to load until fonts files caches.
It is not an issue, it's meant that way so I closing it